@{
    ViewBag.Title = "Quotation Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadCumb">
    <span>Quotation Register</span>
</div>




<div class="container">
    <div class="backBox p-3 mt-5">

        <div class="col-md-12">

            @{
                Html.RenderAction("Rendermainpage", "QuotationRegister");
            }

        </div>
    </div>
</div>