@{
    ViewBag.Title = "Employee Target Vs Achv - MTD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadCumb">
    <span>Employee Target Vs Achv - MTD</span>
</div>




<div class="container">
    <div class="backBox p-3 mt-5">

        <div class="col-md-12">

            @{
                Html.RenderAction("Rendermainpage", "EmployeeTargetvsAchv");
            }

        </div>
    </div>
</div>