@model List<MyShop.Models.DashboardSettingMapped>

@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                06-01-2023        2.0.37           pallab              25570: show button position change and data default value change(added '*' instead of '0') *@

@if (Model != null)
{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,800;1,900&display=swap" rel="stylesheet">
    <style>
        .mapShowlist li .tootip {
            font-family: 'Poppins', sans-serif !important;
        }

        .newStyleMN .widgBox .icon {
            position: absolute;
            left: -32px;
            top: 28px;
            border-radius: 6px;
        }

        .newStyleMN .widgBox .txt {
            width: 100% !important;
            max-width: 100% !important;
            font-family: 'Poppins', sans-serif !important;
            padding-left: 0px;
            font-weight: 400;
            font-size: 14px;
            margin-top: -9px;
            margin-bottom: 4px;
            color: #fff;
        }

        .dtday {
            font-size: 13px;
        }

        .newStyleMN .widgBox .Numb {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 500;
            font-size: 32px;
            /*color: #083a72;*/
            color: #fff;
            text-align: left;
            margin-bottom: 5px;
        }

        .newStyleMN .widgBox.active .Numb {
            color: #fff;
        }

        .newStyleMN .widgBox {
            border-radius: 15px;
            padding: 15px;
            padding-bottom: 15px;
        }

        .newStyleMN .lspacer {
            padding-left: 5px;
        }

        .flex-itm.scr:not(:last-child) .widgBox {
            margin-right: 30px;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 Widgheading clearfix">
                @if (Model.Where(x => x.DetailsName == "Total Employees").Count() > 0 || Model.Where(x => x.DetailsName == "At Work").Count() > 0 || Model.Where(x => x.DetailsName == "On Leave").Count() > 0 || Model.Where(x => x.DetailsName == "Not Logged In").Count() > 0)
                {
                    @*<span>Employee Attendance Summary/*Add to check*/</span>*@
                }
                <ul class="mapShowlist clearfix">
                    <li class="relative">
                        @Html.Action("DashboardStateComboboxTV")
                    </li>
                    <li class="relative">
                        @Html.Action("DashboardBranchComboboxTV")
                    </li>
                    @*<li title="Click to get route details of Employees with Map " id="step7">
                            <div class="pointer hoverMenu rut" onclick="ShowViewParty();">
                                <span class="text ">
                                    View Party
                                    <span class="arrr"></span>
                                </span>
                                <span class="lni lni-user "></span>
                            </div>
                        </li>
                        @if (Model.Where(x => x.DetailsName == "View Route").Count() > 0)
                        {
                            <li title="Click to get route details of Employees with Map " id="step7">
                                <div class="pointer hoverMenu rut" onclick="ShowViewRoute();">
                                    <span class="text ">
                                        View Route
                                        <span class="arrr"></span>
                                    </span>
                                    <span class="lni lni-direction "></span>
                                </div>
                            </li>
                        }
                        @if (Model.Where(x => x.DetailsName == "View Map").Count() > 0)
                        {
                            <li class="scr" data-scroll="map" id="step8">
                                <div class="pointer hoverMenu mp" onclick="showMap();">
                                    <span class="text">
                                        View Map
                                        <span class="arrr"></span>
                                    </span>
                                    <span class="lni lni-map"></span>
                                </div>
                            </li>
                        }
                        @if (Model.Where(x => x.DetailsName == "Live Track Employees At Work").Count() > 0)
                        {
                            <li class="" id="step9">
                                <div class="pointer hoverMenu trc" onclick="TrackVisitClick();">
                                    <span class="text">
                                        Live Tracker
                                        <span class="arrr"></span>
                                    </span>
                                    <span class="liveBlink"></span>
                                    <span class="lni lni-map-marker"></span>
                                </div>
                            </li>
                        }
                        @if (Model.Where(x => x.DetailsName == "View Outlet").Count() > 0)
                        {
                            <li title="Click to View Outlet" id="step7">
                                <div class="pointer hoverMenu rut" onclick="ShowViewOutlet();">
                                    <span class="text ">
                                        View Outlet
                                        <span class="arrr"></span>
                                    </span>
                                    <span class="lni lni-hospital "></span>
                                </div>
                            </li>
                        }
                        @if (Model.Where(x => x.DetailsName == "Emp Outlet").Count() > 0)
                        {
                            <li title="Click to get Employee Outlet " id="step7">
                                <div class="pointer hoverMenu rut" onclick="ShowViewEMPOutlet();">
                                    <span class="text ">
                                        Emp Outlet
                                        <span class="arrr"></span>
                                    </span>
                                    <span class="lni lni-users "></span>
                                </div>
                            </li>
                        }*@
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="clearfix mb-3">
                <div class="d-flex justify-content-center mainDashBoxes newStyleMN">
                    @if (Model.Where(x => x.DetailsName == "Total Employees for Team Visit").Count() > 0)
                    {
                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c2" id="a4tv" onclick="OnTotalClickTeamVisit(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-users"></span>*@
                                        <img src="/assests/images/employees.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="EMPTV">0</div>*@
                                    <div class="Numb" id="EMPTV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Employee Strength</div>
                                    <div class="dtday">As of Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.Where(x => x.DetailsName == "At Work for Team Visit").Count() > 0)
                    {
                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c3" id="a1tv" onclick="AtWorkClickTeamVisit(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-briefcase"></span>*@
                                        <img src="/assests/images/at-work.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="EAWTV">0</div>*@
                                    <div class="Numb" id="EAWTV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Employees At Work</div>
                                    <div class="dtday">Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Where(x => x.DetailsName == "On Leave for Team Visit").Count() > 0)
                    {
                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c5" id="a2tv" onclick="OnLeaveClickTeamVisit(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-calendar-full"></span>*@
                                        <img src="/assests/images/on-leave.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="EOLTV">0</div>*@
                                    <div class="Numb" id="EOLTV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Employees On Leave</div>
                                    <div class="dtday"> Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Where(x => x.DetailsName == "Not Logged In for Team Visit").Count() > 0)
                    {
                        <div class="flex-itm scr ">
                            <div class="widgBox c4" id="a3tv" onclick="NotLoggedInClickTeamVisit(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-power-switch transNotLogged"></span>*@
                                        <img src="/assests/images/not-loggedin.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="NLITV">0</div>*@
                                    <div class="Numb" id="NLITV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Not Logged In</div>
                                    <div class="dtday">Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    //rev 1.0
    @*rev Mantis Issue 25455*@
    <div class="row">
        <div class="col-md-12 text-right clearfix py-0 pl-50">
            <table class="float-left">
                <tr>

                    @*<td><button type="button" class="btn btn-success" onclick="ShowTeamVisitData()">Show</button></td>*@
                    <td>
                        @*<span class="tool cust-tooltip-cls" data-tip="Click to Show Dashboard Summary" tabindex="1">*@
                        @*<button type="button" class="btn details-btn" id="summary-show-btn" onclick="ShowTeamVisitData()" style=" line-height: 20px;" data-toggle="tooltip" title="" data-placement="top" data-original-title="Click to Show Dashboard Summary">*@
                        <button type="button" class="btn details-btn" id="summary-show-btn" onclick="ShowTeamVisitData()" style=" line-height: 20px;">
                            <img src="/assests/images/dashboard-summary.png" style="margin-right: 2px;"> click here to show data
                            @*<div class="hands teamvisit-tb-hand"></div>*@
                        </button>
                        @*</span>*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*rev end Mantis Issue 25455*@
    //rev end 1.0
}
