@model List<MyShop.Models.StateData>

<select class="demo" multiple="multiple" id="cmbStateTVH">
    @foreach (var item in Model)
    {
        <option value="@item.StateID">@item.name</option>
    }
</select>

<input type="hidden" value="@ViewBag.StateListCount" id="hdnStateListCountTVH" />


