@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                06-01-2023        2.0.37           Pallab              25570: show button position change and data default value change(added '*' instead of '0') *@
@*2.0                24-04-2023        2.0.39           Pallab              25896: Console error after click "Not Logged In" box in FSM dashboard Team Visit - Hierarchy tab *@
@*3.0                21-03-2024        2.0.46           Sanchita            A new dashboard floating menu is required as "View Geography".Mantis: 27322    *@
@*4.0                21-03-2024        2.0.46           Sanchita            A new dashboard floating icon is required as "View Geotrack"..Mantis: 27323    *@

@model List<MyShop.Models.DashboardSettingMapped>

@if (Model != null)
{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,800;1,900&display=swap" rel="stylesheet">
    <style>
        .mapShowlist li .tootip {
            font-family: 'Poppins', sans-serif !important;
        }

        .newStyleMN .widgBox .icon {
            position: absolute;
            left: -32px;
            top: 28px;
            border-radius: 6px;
        }

        .newStyleMN .widgBox .txt {
            width: 100% !important;
            max-width: 100% !important;
            font-family: 'Poppins', sans-serif !important;
            padding-left: 0px;
            font-weight: 400;
            font-size: 14px;
            margin-top: -9px;
            margin-bottom: 4px;
            color: #fff;
        }

        .dtday {
            font-size: 13px;
        }

        .newStyleMN .widgBox .Numb {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 500;
            font-size: 32px;
            /*color: #083a72;*/
            color: #fff;
            text-align: left;
            margin-bottom: 5px;
        }

        .newStyleMN .widgBox.active .Numb {
            color: #fff;
        }

        .newStyleMN .widgBox {
            border-radius: 15px;
            padding: 15px;
            padding-bottom: 15px;
        }

        .newStyleMN .lspacer {
            padding-left: 5px;
        }

        .flex-itm.scr:not(:last-child) .widgBox {
            margin-right: 30px;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 Widgheading clearfix">
                @if (Model.Where(x => x.DetailsName == "Total Employees").Count() > 0 || Model.Where(x => x.DetailsName == "At Work").Count() > 0 || Model.Where(x => x.DetailsName == "On Leave").Count() > 0 || Model.Where(x => x.DetailsName == "Not Logged In").Count() > 0)
                {
                    @*<span>Employee Attendance Summary/*Add to check*/</span>*@
                }
                <ul class="mapShowlist clearfix">
                    <li class="relative">
                        @Html.Action("DashboardStateComboboxFV")
                    </li>
                    @*Mantis Issue 24729*@
                    <li class="relative">
                        @Html.Action("DashboardBranchComboboxFV")
                    </li>

                    @*rev Pallab*@
                </ul>

                <ul class="mapShowlist clearfix flotting-right-btn">

                    @*EnMantis Issue 24729*@
                    @if (Model.Where(x => x.DetailsName == "View Party").Count() > 0)
                    {
                        @*<li title="Click to get route details of Employees with Map " id="">*@
                        <li id="">
                            <div class="pointer hoverMenu rut" onclick="ShowViewParty();">
                                <span class="text ">
                                    View Party
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="lni lni-user "></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/view-party.png" alt="">
                                </div>
                                @*<img src="/assests/images/view-party-wt.png" alt="" style="display: none;">*@
                            </div>
                            <div class="tooltip-customize" title="Click to get party details with Map">Click to get party details with Map</div>
                        </li>
                    }
                    @if (Model.Where(x => x.DetailsName == "View Route").Count() > 0)
                    {
                        @*<li title="Click to get route details of Employees with Map " id="">*@
                        <li id="">
                            <div class="pointer hoverMenu rut" onclick="ShowViewRoute();">
                                <span class="text ">
                                    View Route
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="lni lni-direction "></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/view-route.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to get route details of Employees with Map">Click to get route details of Employees with Map</div>
                            @*<span class="greenTrack" style="cursor:pointer;border-right:1px solid #ccc;" >View Route <img src="/assests/images/locat1.png" width="20px" style="margin-left:5px" /></span>*@
                        </li>
                    }
                    @if (Model.Where(x => x.DetailsName == "View Map").Count() > 0)
                    {
                        <li class="scr" data-scroll="map" id="">
                            <div class="pointer hoverMenu mp" onclick="showMapFV();">
                                <span class="text">
                                    View Map
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="lni lni-map"></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/view-map.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to show Map">Click to show Map</div>
                        </li>
                    }
                    @if (Model.Where(x => x.DetailsName == "Live Track Employees At Work").Count() > 0)
                    {
                        <li class="" id="">
                            <div class="pointer hoverMenu trc" onclick="TrackVisitClick();">
                                <span class="text">
                                    Live Tracker
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="liveBlink"></span>*@
                                @*<span class="lni lni-map-marker"></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/tracking.png" alt="">
                                </div>
                            </div>

                            <div class="tooltip-customize" title="Live Tracker">Live Tracker</div>
                            @*separate-left*@
                            @*<span class=" greenTrack" style="cursor:pointer;" >Live Track Employees At Work <img class="pull-right blink cgreen" style="width: 12px; margin: 3px 0 0 5px;" src="/assests/images/Live.png" /></span>*@
                        </li>
                    }
                    @if (Model.Where(x => x.DetailsName == "View Outlet").Count() > 0)
                    {
                        @*<li title="Click to View Outlet" id="">*@
                        <li id="">
                            <div class="pointer hoverMenu rut" onclick="ShowViewOutlet();">
                                <span class="text ">
                                    View Outlet
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="lni lni-hospital "></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/view-outlet.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to View Outlet">Click to View Outlet</div>
                            @*<span class="greenTrack" style="cursor:pointer;border-right:1px solid #ccc;" >View Route <img src="/assests/images/locat1.png" width="20px" style="margin-left:5px" /></span>*@
                        </li>
                    }
                    @if (Model.Where(x => x.DetailsName == "Emp Outlet").Count() > 0)
                    {
                        @*<li title="Click to get Employee Outlet " id="">*@
                        <li id="">
                            <div class="pointer hoverMenu rut" onclick="ShowViewEMPOutlet();">
                                <span class="text ">
                                    Emp Outlet
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="lni lni-users "></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/emp-outlet.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to get Employee Outlet">Click to get Employee Outlet</div>
                            @*<span class="greenTrack" style="cursor:pointer;border-right:1px solid #ccc;" >View Route <img src="/assests/images/locat1.png" width="20px" style="margin-left:5px" /></span>*@
                        </li>
                    }
                    @*Rev Sanchita*@
                    @if (Model.Where(x => x.DetailsName == "View Party-Hierarchywise").Count() > 0)
                    {
                        @*<li title="Click to get party details hierarchywise with Map " id="step7" class="view-party-hierarchywise">*@
                        <li id="step7" class="view-party-hierarchywise">
                            <div class="pointer hoverMenu rut" onclick="ShowViewPartyHierarchy();">
                                <span class="text ">
                                    View Party-Hierarchywise
                                    @*<span class="arrr"></span>*@
                                </span>
                                @*<span class="lni lni-user "></span>*@
                                <div class="icon-img">
                                    <img src="/assests/images/vp-hierarchy.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to get party details hierarchywise with Map">Click to get party details hierarchywise with Map</div>
                        </li>
                    }
                    @*End of Rev Sanchita*@
                    @*Rev 3.0*@
                    @if (Model.Where(x => x.DetailsName == "View Geography").Count() > 0)
                    {
                        <li id="step7" class="view-party-hierarchywise">
                            <div class="pointer hoverMenu rut" onclick="ShowViewGeography();">
                                <span class="text ">
                                    View Geography
                                </span>
                                <div class="icon-img">
                                    <img src="/assests/images/geography.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to get Shop Location on Map">Click to get Shop Location on Map</div>
                        </li>
                    }
                    @*End of Rev 3.0*@
                    @*Rev 4.0*@
                    @if (Model.Where(x => x.DetailsName == "View Geotrack").Count() > 0)
                    {
                        <li id="step7" class="view-party-hierarchywise">
                            <div class="pointer hoverMenu rut" onclick="ShowViewGeotrack();">
                                <span class="text ">
                                    View Geotrack
                                </span>
                                <div class="icon-img">
                                    <img src="/assests/images/geotrack.png" alt="">
                                </div>
                            </div>
                            <div class="tooltip-customize" title="Click to get User Location on Map">Click to get User Location on Map</div>
                        </li>
                    }
                    @*End of Rev 4.0*@
                </ul>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="clearfix mb-3">
                <div class="d-flex justify-content-center mainDashBoxes newStyleMN">
                    @if (Model.Where(x => x.DetailsName == "Total Employees for Field Visit").Count() > 0)
                    {
                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c2" id="a1fv" onclick="OnTotalClickFV(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-users"></span>*@
                                        <img src="/assests/images/employees.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*Mantis Issue 25455 [value 0 added] *@
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="lblTotalFV">0</div>*@
                                    <div class="Numb" id="lblTotalFV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Employee Strength</div>
                                    <div class="dtday">As of Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>

                    }
                    @if (Model.Where(x => x.DetailsName == "At Work for Field Visit").Count() > 0)
                    {
                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c3" id="a2fv" onclick="AtWorkClickFV(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-briefcase"></span>*@
                                        <img src="/assests/images/at-work.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*Mantis Issue 25455 [value 0 added] *@
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="lblAtWorkFV">0</div>*@
                                    <div class="Numb" id="lblAtWorkFV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Employees At Work</div>
                                    <div class="dtday">Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>

                    }
                    @if (Model.Where(x => x.DetailsName == "On Leave for Field Visit").Count() > 0)
                    {

                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c5" id="a3fv" onclick="OnLeaveClickFV(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-calendar-full"></span>*@
                                        <img src="/assests/images/on-leave.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*Mantis Issue 25455 [value 0 added] *@
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="lblOnLeaveFV">0</div>*@
                                    <div class="Numb" id="lblOnLeaveFV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Employees On Leave</div>
                                    <div class="dtday"> Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Where(x => x.DetailsName == "Not Logged In for Field Visit").Count() > 0)
                    {

                        <div class="flex-itm scr " data-scroll="accordion">
                            <div class="widgBox c4" id="a4fv" onclick="NotLoggedInClickFV(this);">
                                <div class="d-flex  align-items-center">
                                    <div class="icon">
                                        @*<span class="lnr lnr-power-switch transNotLogged"></span>*@
                                        <img src="/assests/images/not-loggedin.png" />
                                    </div>

                                </div>
                                <div class="lspacer">
                                    @*Mantis Issue 25455 [value 0 added] *@
                                    @*rev 1.0*@
                                    @*<div class="Numb" id="lblNotLoggedInFV">0</div>*@
                                    <div class="Numb" id="lblNotLoggedInFV">***</div>
                                    @*rev end 1.0*@
                                    <div class="flex-grow-1 txt">Not Logged In</div>
                                    <div class="dtday">Today</div>
                                    <div class="text-right hide"><span class="lnr lnr-arrow-down dwn arrD"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    //rev 1.0
    @*rev Mantis Issue 25455*@
    <div class="row">
        <div class="col-md-12 text-right clearfix py-0 pl-50">
            <table class="float-left">
                <tr>

                    <td>
                        @*<span class="tool cust-tooltip-cls" data-tip="Click to Show Dashboard Summary" tabindex="1">*@
                        @*<button type="button" class="btn details-btn" id="summary-show-btn" onclick="ShowFieldVisitData()" style=" line-height: 20px;" data-toggle="tooltip" title="" data-placement="top" data-original-title="Click to Show Dashboard Summary">*@
                        <button type="button" class="btn details-btn" id="summary-show-btn" onclick="ShowFieldVisitData()" style=" line-height: 20px;">
                            <img src="/assests/images/dashboard-summary.png" style="margin-right: 2px;"> click here to show data
                            @*<div class="hands fieldvisit-tb-hand"></div>*@
                        </button>
                        @*</span>*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*rev end Mantis Issue 25455*@
    //rev end 1.0

    <script>
        $(document).ready(function () {
            $('.scr').on('click', function (e) {
                e.preventDefault()

                var position = $(this).attr("data-scroll");
                /*Rev 2.0*/
                /*var p = $('#' + position).offset().top;*/
                var p = $('#' + position).offset();
                /*Rev end 2.0*/
                $("body, html").animate({
                    scrollTop: 150
                } /* speed */);
            })
        })
    </script>

}
