@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridList";
    settings.KeyFieldName = "ID";
    settings.CallbackRouteValues = new { Action = "PartialGrid", Controller = "DocumentSharing" };
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    settings.Settings.ShowFilterRowMenu = true;

    settings.Columns.Add(x =>
    {
        x.FieldName = "CODE";
        x.Caption = "Doc. Group Code";
        x.VisibleIndex = 1;
        // x.Width = 200;
        x.ColumnType = MVCxGridViewColumnType.TextBox;

        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.Visible = false;
    });

    settings.Columns.Add(x =>
     {
         x.FieldName = "NAME";
         x.Caption = "Doc. Group Name";
         x.VisibleIndex = 2;
         //x.Width = 120;
         x.ColumnType = MVCxGridViewColumnType.TextBox;
         x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
     });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Created_By";
        x.Caption = "Created By";
        x.VisibleIndex = 3;
        //x.Width = 120;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "Created_On";
        x.Caption = "Created On";
        x.VisibleIndex = 4;
        x.Width = 120;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.ColumnType = MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        // x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Updated_By";
        x.Caption = "Updated By";
        x.VisibleIndex = 5;
        //x.Width = 120;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Updated_On";
        x.Caption = "Updated On";
        x.VisibleIndex = 6;
        x.Width = 120;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.ColumnType = MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        // x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;

    });


    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 7;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Middle;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.SetDataItemTemplateContent(c =>
        {
            // ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenHomeLocationforEdit('" + Convert.ToString(DataBinder.Eval(c.DataItem, "UserID")) + "')\">Modify</a>");
            //ViewContext.Writer.Write("<a style='cursor:pointer' class='pad' onclick=\"AssignUserClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/user1.png' style='width:16px;margin-right:3px' /></a>");
            ViewContext.Writer.Write("<a style='cursor:pointer' data-toggle='tooltip' title='Add Content' class='pad' onclick=\"AddDoc('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/Add.png' style='margin-right:3px' /></a>");           
            ViewContext.Writer.Write("<a style='cursor:pointer' data-toggle='tooltip' title='Edit group' class='pad' onclick=\"EditClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/Edit.png' style='margin-right:3px' /></a>");
            ViewContext.Writer.Write("<a style='cursor:pointer' data-toggle='tooltip' title='Delete group' class='pad' onclick=\"DeleteClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ID")) + "')\"><img src='/assests/images/Delete.png'/> </a>");

        });

    });

}).Bind(Model).GetHtml()







