@*====================================================== Revision History ===================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                08-08-2023        V2.0.40          Pallab              26699: Project & Projection Entry icons create and change & others design issue fix *@
@*====================================================== Revision History ===================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridProjectReport";
    settings.KeyFieldName = "PR_ID";
    settings.CallbackRouteValues = new { Action = "PartialProjectReportGridList", Controller = "ProjectReport" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollableHeight = 400;


    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "50", "100" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;

    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;

    settings.SettingsBehavior.EnableCustomizationWindow = false;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";


    settings.Columns.Add(column =>
    {
        column.FieldName = "SEQ";
        column.Caption = "Sr. No";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 96;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SEQ'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "MONTH_YEAR";
        column.Caption = "Month";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='MONTH_YEAR'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });


    settings.Columns.Add(column =>
    {
        column.FieldName = "PROJ_STARTDT_ID";
        column.Caption = "Project Start Date";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy hh:mm:ss";
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PROJ_STARTDT_ID'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });


    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "DATE";
    //    column.Caption = "Date & Time";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy hh:mm:ss";
    //    //column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
    //    column.Width = 80;
    //    column.FixedStyle = GridViewColumnFixedStyle.Left;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "PROJ_NAME";
        column.Caption = "Name of the Project";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PROJ_NAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 160;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 160;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Area";
        column.Caption = "Area";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Area'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "CUST_NAME";
        column.Caption = "Architect/Fabricator/Builder/Contractor info";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CUST_NAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "CUSTOMER_NAME";
    //    column.Caption = "Customer";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 110;
    //    column.FixedStyle = GridViewColumnFixedStyle.Left;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "CATEGORY";
        column.Caption = "Category";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 110;
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CATEGORY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 110;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 110;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "CONTACT_PERSON";
        column.Caption = "Contact Person";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 80;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CONTACT_PERSON'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "PHONE_NO";
        column.Caption = "Contact No.";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PHONE_NO'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "APPROX_QTY_SQFT";
        column.Caption = "Approx. Qty.(sqft)";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='APPROX_QTY_SQFT'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "GRADE";
        column.Caption = "Grade";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='GRADE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "PROD_NAMECODE";
        column.Caption = "Product Name & Code";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 120;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PROD_NAMECODE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 130;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 130;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "EXPECTED_MONTH";
        column.Caption = "Expected Month";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 120;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EXPECTED_MONTH'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "CURRENT_REMARKS";
        column.Caption = "Current Remarks";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 100;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CURRENT_REMARKS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 500;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 500;
        }
    });


    settings.Columns.Add(column =>
    {
        column.FieldName = "EXECUTIVE_NAME";
        column.Caption = "Executive Name";
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 96;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EXECUTIVE_NAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }

    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ORDER_LOST";
        column.Caption = "Order Lost";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ORDER_LOST'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 110;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 110;
        }

    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "PROJ_COMPLETE_DT_ID";
        column.Caption = "Completed Project";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy hh:mm:ss";
        //column.Width = 80;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PROJ_COMPLETE_DT_ID'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
        //End of Mantis Issue 24816
    });

    // Mantis Issue 25203
    settings.Columns.Add(column =>
    {
        column.FieldName = "ARCTNAME";
        column.Caption = "Architect Name";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ARCTNAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "CONSLNAME";
        column.Caption = "Consultant Name";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CONSLNAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "FABRNAME";
        column.Caption = "Fabricator Name";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='FABRNAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "OTHERS";
        column.Caption = "Others";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='OTHERS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "HODREMARKS";
        column.Caption = "HOD Remarks";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='HODREMARKS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "HODVISITEDON";
        column.Caption = "Supervisor Last seen";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy hh:mm:ss";
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='HODVISITEDON'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "HODVISITEDBY";
        column.Caption = "Supervisor Name";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='HODVISITEDBY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    // End of Mantis Issue 25203

    settings.Columns.Add(x =>
    {
        x.SetDataItemTemplateContent(tc =>
        {

            string EnqRights = "<div class=''>";

            if (ViewBag.CanEdit)
            {
                //EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "PR_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>";
                EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "PR_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/Edit.png\" /></span></a>";
            }

            if (ViewBag.CanDelete)
            {
                EnqRights = EnqRights +
                 //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "PR_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a>";
                 "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "PR_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-2'><img src=\"../../../assests/images/Delete.png\" /></span></a>";

            }
            // Mantis Issue 25203
            if (ViewBag.CanEdit)
            {
                //EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenforHODRemarks('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "PR_ID")) + "')\" class=\"\" title=\"HOD Remarks\"><span class='ico editColor mr-3'><i class='fa fa-user-plus' aria-hidden='true'></i></span></a>";
                EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenforHODRemarks('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "PR_ID")) + "')\" class=\"\" title=\"HOD Remarks\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/remarks.png\" /></span></a>";
            }
            // End of Mantis Issue 25203

            EnqRights = EnqRights + "</div>";
            ViewContext.Writer.Write(EnqRights);

        });

        x.Settings.AllowDragDrop = DefaultBoolean.False;
        x.Settings.AllowSort = DefaultBoolean.False;
        x.Width = 120;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Caption = "Action";


    });



}).Bind(Model).GetHtml()






