@*/***************************************************************************************
 * Written by Sanchita on 24/11/2023 for V2.0.43    A new design page is required as Contact (s) under CRM menu.
 *                                                  Mantis: 27034
 ****************************************************************************************/*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridCRMContact";
    settings.KeyFieldName = "SHOP_CODE";
    settings.CallbackRouteValues = new { Action = "PartialCRMContactGridList", Controller = "CRMContact" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollableHeight = 200;


    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "50", "100" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;

    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;

    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";



    settings.Columns.Add(x =>
    {
        x.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                "<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenCRMContactforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "Shop_Code")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/Edit.png\" /></span></a>" +
                "" +
                "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteCRMContact('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "Shop_Code")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-2'><img src=\"../../../assests/images/Delete.png\" /></span></a></div>"
            );
        });

        x.Settings.AllowDragDrop = DefaultBoolean.False;
        x.Settings.AllowSort = DefaultBoolean.False;
        x.Width = 100;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Caption = "Action";
        x.FixedStyle = GridViewColumnFixedStyle.Left;


    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "SEQ";
        column.Caption = "Sr. No\r\n";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 96;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SEQ'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 50;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 50;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_FirstName";
        column.Caption = "First Name";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_FirstName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_LastName";
        column.Caption = "Last Name";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_LastName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Owner_Contact";
        column.Caption = "Phone";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Owner_Contact'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Owner_Email";
        column.Caption = "Email";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Owner_Email'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 200;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 200;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Address";
        column.Caption = "Address";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Address'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 250;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 250;
        }
    });
    // Rev Sanchita
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Pincode";
        column.Caption = "Pincode";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Pincode'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_WhatsappNoForCustomer";
        column.Caption = "Whatsapp Number";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_WhatsappNoForCustomer'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    // End of Rev Sanchita
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_DOB";
        column.Caption = "Date of Birth";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_DOB'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_date_aniversary";
        column.Caption = "Date of Anniversary";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_date_aniversary'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 140;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 140;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_CompanyName";
        column.Caption = "Company";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_CompanyName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_JobTitle";
        column.Caption = "Job Title";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_JobTitle'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_CreateUserName";
        column.Caption = "Assign To";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_CreateUserName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_TypeName";
        column.Caption = "Contact Type";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_TypeName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_StatusName";
        column.Caption = "Status";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_StatusName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_SourceName";
        column.Caption = "Source";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_SourceName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_ReferenceName";
        column.Caption = "Reference";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_ReferenceName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_StageName";
        column.Caption = "Stages";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_StageName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Remarks";
        column.Caption = "Remarks";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Remarks'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 200;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 200;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Amount";
        column.Caption = "Expected Sales Value";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Amount'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_NextFollowupDate";
        column.Caption = "Next follow Up Date";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        //column.Width = 120;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_NextFollowupDate'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
        //End of Mantis Issue 24816
    });
    // Rev Sanchita
    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Entered_On";
        column.Caption = "Created Date";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Entered_On'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Entered_ByName";
        column.Caption = "Created By";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Entered_ByName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_LastUpdated_On";
        column.Caption = "Modified Date";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_LastUpdated_On'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_LastUpdated_ByName";
        column.Caption = "Modified By";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_LastUpdated_ByName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    // End of Rev Sanchita

    settings.Columns.Add(column =>
    {
        column.FieldName = "Shop_Entity_Status";
        column.Caption = "Active";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shop_Entity_Status'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });

}).Bind(Model).GetHtml()




