@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                23-01-2023        2.0.38           Pallab              25576: Report page design modification *@
@*====================================================== Revision History ==========================================================*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>


<script>
    function Showmessage(data) {
        jAlert(data.message, 'Alert');
    }
</script>
<style>
    .eqpadtbl {
        /*Rev 1.0*/
        /*display:inline-block;*/
        display: block;
        /*Rev end 1.0*/
    }

        .eqpadtbl > tbody > tr > td {
            /*Rev 1.0*/
            /*padding-bottom:15px*/
            padding-bottom: 0px
            /*Rev end 1.0*/
        }

            .eqpadtbl > tbody > tr > td div {
                text-align: center
            }
        /*Rev 1.0*/
        .eqpadtbl tr td label {
            margin-bottom: 0 !important;
            margin-right: 10px !important;
        }
    /*Rev end 1.0*/
</style>
<div class="breadCumb">
    <span>Invoice Import</span>
</div>
<div class="container">
    <div class="backBox p-3 mt-5">
        <div class="col-md-12">
            @{

                using (Ajax.BeginForm("UploadFile", "ThirdPartyInvoiceUpload", new { area = "MYSHOP" }, new
                AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "Showmessage" //This will execute once the Ajax call is finished.

                }, new { enctype = "multipart/form-data" }))

                {
                    @*Rev 1.0*@
                    @*<div class="text-center p-5">*@
                    <div class="text-center p-3">

                        @*<table class="eqpadtbl  mb-3 ">*@
                        <table class="eqpadtbl  mb-0 ">
                            @*Rev end 1.0*@
                            <tr>
                                @*Rev 1.0 : all field add in same line( add in one tr)*@
                                <td><label>Upload Xml</label></td>
                                <td>
                                    @*<label>Upload Xml</label>*@
                                    <div>
                                        <input type="file" name="file" accept="xml/*" />
                                    </div>
                                </td>
                                <td valign="bottom">
                                    <input type="submit" class="btn btn-success" value="Upload" />
                                </td>
                            </tr>
                            @*<tr>
                                    <td valign="bottom">
                                        <input type="submit" class="btn btn-success" value="Upload" />
                                    </td>
                                </tr>*@
                        </table>
                    </div>



                }
                <div id="Element"></div>
            }

        </div>
    </div>
</div>

