@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>


<script>
    function Showmessage(data) {
        jAlert(data.message, 'Alert');
    }
</script>
<style>
    .eqpadtbl {
        display:inline-block;
    }
    .eqpadtbl>tbody>tr>td{
        padding-bottom:15px
    }
        .eqpadtbl > tbody > tr > td div{
            text-align:center
        }
</style>
<div class="breadCumb">
    <span>Invoice Import</span>
</div>
<div class="container">
    <div class="backBox p-3 mt-5">
        <div class="col-md-12">
            @{

    using (Ajax.BeginForm("UploadFile", "ThirdPartyInvoiceUpload", new { area = "MYSHOP" }, new
    AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "Showmessage" //This will execute once the Ajax call is finished.

    }, new {enctype="multipart/form-data"}))

    {
    <div class="text-center p-5">
        <table class="eqpadtbl  mb-3 ">
            <tr>
                <td>
                    <label>Upload Xml</label>
                    <div>
                        <input type="file" name="file" accept="xml/*" />
                    </div>
                </td>

            </tr>
            <tr>
                <td valign="bottom">
                    <input type="submit" class="btn btn-success" value="Upload" />
                </td>
            </tr>
        </table>
    </div>



    }
                <div id="Element"></div>
            }

        </div>
    </div>
</div>

