@*====================================================== Revision History ===================================================*@
@*Page Create By : PRITI On  09/05/2023 for V2.0.40 Refer:
    0026031:Copy the current Enquiry page, and create a duplicate and name it as 'Task Management'
    0026032: Customization in Task Management Page
    0026034: Customization in Add Task Page*@
@*====================================================== Revision History ===================================================*@
@Html.DevExpress().GridLookup(
    settings =>
    {
        settings.Properties.Caption = "";
        settings.Properties.CaptionCellStyle.CssClass = "hide";
        settings.Name = "EnquiryFromGridLookup";
        settings.KeyFieldName = "TASKPRIORITY_ID";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Properties.ClientInstanceName = "EnquiryFromGridLookup";
        settings.GridViewClientSideEvents.SelectionChanged = "TASKPRIORITYSelectionChanged";
        settings.Properties.ClientSideEvents.ValueChanged = "TASKPRIORITYSelectionChanged";
        settings.GridViewClientSideEvents.BeginCallback = "EnquiryFromStartCallback";

        settings.Properties.ClientSideEvents.ValueChanged = "EnquiryFromLookupValChange";
        settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        settings.GridViewProperties.SettingsPager.EnableAdaptivity = true;
        settings.Properties.SelectionMode = GridLookupSelectionMode.Multiple;



        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.None;

        settings.Columns.Add(column =>
        {
            column.FieldName = "TASKPRIORITY_ID";
            column.Caption = "TASKPRIORITY_ID";
            column.Width = 0;
            column.Visible = false;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "TaskPriorityDesc";
            column.Caption = "Task Priority";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(85);
        });

        settings.Properties.Caption = " ";
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Multiple;

        settings.Properties.TextFormatString = "{1}";
        settings.Properties.MultiTextSeparator = ", ";
        // settings.Properties.SelectionMode = GridLookupSelectionMode.Multiple;
        settings.Properties.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.GridViewProperties.CallbackRouteValues = new { Controller = "TaskManagement", Action = "GetTaskPriority" };
        // settings.GridViewClientSideEvents.BeginCallback = "function(s,e){OnBeginCallback(s,e);}";
        settings.GridViewProperties.Settings.ShowFilterRow = true;
        settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
        settings.GridViewProperties.SetStatusBarTemplateContent(c =>
        {

            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnDeSelectAll";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "DeSelect All";
                btnSettings.ClientSideEvents.Click = "DeSelectAllGridLookup";
                //btnSettings.ClientSideEvents.Click = "TASKPRIORITYSelectionChanged";
                //btnSettings.ClientSideEvents.CheckedChanged = "SelectAllTASKPRIORITYSelectionChanged";
                //btnSettings..BranchSelectionChanged = "OnSelectionChanged";
            }).Render();
            ViewContext.Writer.Write("</div>");
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnSelectAll";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "Select All";
                btnSettings.ClientSideEvents.Click = "SelectAllGridLookup";
                //btnSettings.ClientSideEvents.Click = "TASKPRIORITYSelectionChanged";
                //btnSettings.ClientSideEvents.CheckedChanged = "SelectAllTASKPRIORITYSelectionChanged";
                //btnSettings..BranchSelectionChanged = "OnSelectionChanged";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        settings.DataBound = (sender, e) =>
        {
            var gridLookup = (MVCxGridLookup)sender;
            //gridLookup.GridView.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            gridLookup.GridView.Width = 310;

            //gridLookup.GridView.Settings.wi
        };



    }).BindList(Model).GetHtml()




