@*====================================================== Revision History ===================================================*@
@*Page Create By : PRITI On  09/05/2023 for V2.0.40 Refer:
    0026031:Copy the current Enquiry page, and create a duplicate and name it as 'Task Management'
    0026032: Customization in Task Management Page
    0026034: Customization in Add Task Page*@
@*1.0                30/05/2023        V2.0.40          Pallab             0026263: Task Management module grid action icons change*@
@*====================================================== Revision History ===================================================*@
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridTaskManagement";
    settings.KeyFieldName = "TASK_ID";
    settings.CallbackRouteValues = new { Action = "PartialTaskManagementGridList", Controller = "TaskManagement" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollableHeight = 400;


    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "50", "100" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;

    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;

    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";



    settings.Columns.Add(column =>
    {
        column.FieldName = "SEQ";
        column.Caption = "Sr. No";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.VisibleIndex = 1;
        column.Width = 80;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SEQ'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 80;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "STARTDATE";
        column.Caption = "Task Date";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        column.VisibleIndex = 2;
        column.Width = 100;
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='STARTDATE'");
        //    if (row != null && row.Length > 0)
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 120;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "DUETDATE";
        column.Caption = "Due Date";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        column.VisibleIndex = 3;
        column.Width = 100;
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='DUETDATE'");
        //    if (row != null && row.Length > 0)
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 120;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 120;
        //}
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Task_Name";
        column.Caption = "Task Name";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 110;
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.VisibleIndex = 4;
        column.Width = 100;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Task_Name'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 110;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 110;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Task_Priority";
        column.Caption = "Priority";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.Width = 80;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Task_Priority'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 120;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 120;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Task_Details";
        column.Caption = "Task Details";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Task_Details'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 100;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 100;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ASSIGNED_TO";
        column.Caption = "Assign to Name";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ASSIGNED_TO'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 100;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 100;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "SalesmanAssign_date";
        column.Caption = "Assigned Date";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SalesmanAssign_date'");
        //    if (row != null && row.Length > 0)
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 120;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 120;
        //}
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ASSIGNED_TOID";
        column.Caption = "Assign to ID";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ASSIGNED_TOID'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "Task_STATUS";
        column.Caption = "Task Status";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Task_STATUS'");
            if (row != null && row.Length > 0)
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "CREATED_DATE";
        column.Caption = "Created On";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CREATED_DATE'");
        //    if (row != null && row.Length > 0)
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 100;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 100;
        //}
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "CREATED_BY";
        column.Caption = "Created By";
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CREATED_BY'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 100;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 100;
        //}

    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "MODIFIED_DATE";
        column.Caption = "Updated on";
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='MODIFIED_DATE'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 100;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 100;
        //}

    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "MODIFIED_BY";
        column.Caption = "Updated By";
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        //if (ViewBag.RetentionColumn != null)
        //{
        //    System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='MODIFIED_BY'");
        //    if (row != null && row.Length > 0)  /// Check now
        //    {
        //        column.Visible = false;
        //    }
        //    else
        //    {
        //        column.Visible = true;
        //        column.Width = 100;
        //    }
        //}
        //else
        //{
        //    column.Visible = true;
        //    column.Width = 100;
        //}

    });

    settings.Columns.Add(x =>
    {

        if (ViewBag.CanReassign || ViewBag.CanAssign)
        {

            x.SetDataItemTemplateContent(tc =>
            {

                if (Convert.ToString(DataBinder.Eval(tc.DataItem, "Task_STATUS")) == "Assigned" || Convert.ToString(DataBinder.Eval(tc.DataItem, "Task_STATUS")) == "Re Assigned")

                {


                    //Rev 1.0: Grid all action icons change
                    string EnqRights = "<div class=''>";

                    //EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenTaskManagementforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>";
                    EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenTaskManagementforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Modify\"><img src=\"../../../assests/images/Edit.png\" /></a>";

                    if (ViewBag.CanAssign)
                    {
                        EnqRights = EnqRights + "&nbsp;" +
                  //"<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-user-plus' aria-hidden='true'></i></span></a>";
                  "<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><img src=\"../../../assests/images/Useradd.png\" /></a>";

                    }
                    EnqRights = EnqRights + "&nbsp;" +
                  //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a>";
                  "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Delete\"><img src=\"../../../assests/images/Delete.png\" /></a>";
                    if (ViewBag.CanReassign)
                    {
                        EnqRights = EnqRights + "&nbsp;" +
                  //"<a href=\"javascript:void(0);\" onclick=\"OnClickReAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Re-Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-share' aria-hidden='true'></i></span></a>";
                  "<a href=\"javascript:void(0);\" onclick=\"OnClickReAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Re-Assign Salesman\"><img src=\"../../../assests/images/User-reassign.png\" /></a>";

                    }
                    EnqRights = EnqRights + "</div>";
                    ViewContext.Writer.Write(EnqRights);

                }
                else
                {


                    string EnqRights = "<div class=''>";
                    //EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenTaskManagementforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>";
                    EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenTaskManagementforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Modify\"><img src=\"../../../assests/images/Edit.png\" /></a>";

                    if (ViewBag.CanAssign)
                    {
                        EnqRights = EnqRights + "&nbsp;" +
                  //"<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-user-plus' aria-hidden='true'></i></span></a>";
                  "<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><img src=\"../../../assests/images/Useradd.png\" /></a>";

                    }
                    EnqRights = EnqRights + "&nbsp;" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a>";
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Delete\"><img src=\"../../../assests/images/Delete.png\" /></a>";

                    EnqRights = EnqRights + "</div>";
                    ViewContext.Writer.Write(EnqRights);

                }


            });
        }
        else
        {
            x.SetDataItemTemplateContent(tc =>
            {
                ViewContext.Writer.Write(
                    //"<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>" +
                    "<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Modify\"><img src=\"../../../assests/images/Edit.png\" /></a>" +
                    "" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a></div>"
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "TASK_ID")) + "')\" class=\"\" title=\"Delete\"><img src=\"../../../assests/images/Delete.png\" /></a></div>"
                );
            });
        }
        //Rev end 1.0
        x.Settings.AllowDragDrop = DefaultBoolean.False;
        x.Settings.AllowSort = DefaultBoolean.False;
        x.Width = 120;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Caption = "Action";


    });

}).Bind(Model).GetHtml()




