
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridorderrsummary";

    settings.CallbackRouteValues = new { Action = "PartialOrderSummary", Controller = "UpdateOrderStatus" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.SettingsContextMenu.Enabled = true;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";

    settings.Columns.Add(x =>
    {
        x.FieldName = "EmployeeName";
        x.Caption = "Employee Name";
        x.VisibleIndex = 1;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EmployeeName'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "BRANCHDESC";
        x.Caption = "Branch";
        x.VisibleIndex = 2;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='BRANCHDESC'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "shop_name";
        x.Caption = "Shop Name";
        x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='shop_name'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ENTITYCODE";
        x.Caption = "Code";
        x.VisibleIndex = 4;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ENTITYCODE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "address";
        x.Caption = "Address";
        x.VisibleIndex = 5;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(300);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='address'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }


    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "owner_contact_no";
        x.Caption = "Contact";
        x.VisibleIndex = 6;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(120);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='owner_contact_no'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Shoptype";
        x.Caption = "Shop type";
        x.VisibleIndex = 7;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(150);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shoptype'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "date";
        x.Caption = "Order Date";
        x.VisibleIndex = 8;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(100);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='date'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "OrderCode";
        x.Caption = "Order Number";
        x.VisibleIndex = 9;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(170);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='OrderCode'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "order_amount";
        x.Caption = "Order Value";
        x.VisibleIndex = 10;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(130);

        // Rev 2.0
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='order_amount'");
            if (row != null && row.Length > 0)  /// Check now
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }
        // End of Rev 2.0
    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "ORDERSTATUS";
        x.Caption = "Order Status";
        x.VisibleIndex = 11;
        //x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(150);


        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ORDERSTATUS'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
            }
        }
        else
        {
            x.Visible = true;
        }

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "USERID";
        x.Caption = "USERID";
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(0);
        x.Visible = false;



    });


    if (ViewBag.CanPrint == true)
    {
        settings.Columns.Add(x =>
        {
            x.Caption = "Action";
            x.VisibleIndex = 12;
            x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            x.SetDataItemTemplateContent(c =>
            {

                ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"OpenUpdateStatusWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "','" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderCode")) + "','" + Convert.ToString(DataBinder.Eval(c.DataItem, "USERID"))+ "')\"><img src='/assests/images/update-order-new.svg' style='margin-right:3px' /><div class=\"tooltip\">Update Status</div></a>");

                //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"PrintOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img class=\"mr-2\" src=\"../../../assests/images/print.png\" /></a>");


            });
        });
    }

    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "order_amount").DisplayFormat = "0.00";
}).Bind(Model).GetHtml()

