@*======================================Revision History=================================================================*@
@*Rev Number       DATE              VERSION          DEVELOPER         CHANGES*@
@*1.0              21/02/2023        V2.0.39          Pallab            Settings/Options module design modification.*@
@*2.0              26/04/2023        V2.0.40          Pallab            25933: Time Sheet Entity Master module tab issue fix*@
@*===================================End of Revision History=============================================================*@

@{
    ViewBag.Title = "Time Sheet Entity Master";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<script>
    function selectiongridbegincallback(s, e) {

        e.customArgs["empcode"] = $("#userID").val();
    }
    function empchange() {
        gridProjectSelection.Refresh();
        gridClientSelection.Refresh();
        gridActivitySelection.Refresh();
        gridProductSelection.Refresh();
    }


    function SaveAttatchment() {
        var strproject = "";
        var strclient = "";
        var stractivity = "";
        var strproduct = "";

        gridProjectSelection.GetSelectedFieldValues("Project_Id", function (str) {
            strproject = str.join(",");
            gridClientSelection.GetSelectedFieldValues("Client_Id", function (str) {
                strclient = str.join(",");
                gridActivitySelection.GetSelectedFieldValues("Activity_Id", function (str) {
                    stractivity = str.join(",");
                    gridProductSelection.GetSelectedFieldValues("product_id", function (str) {
                        strproduct = str.join(",");

                        var surl = '@Url.Action("SaveAttatchment", "TimeSheet")';
                        $.ajax({
                            url: surl,
                            //async: false,
                            data: {
                                project: strproject,
                                client: strclient,
                                activity: stractivity,
                                product: strproduct,
                                empcode: $("#userID").val()
                            },
                            type: 'POST',

                            success: function (data) {
                                alert(data);
                                gridProjectSelection.Refresh();
                                gridClientSelection.Refresh();
                                gridActivitySelection.Refresh();
                                gridProductSelection.Refresh();


                            },
                            error: function () {

                            },


                        });




                    })
                })
            })
        })
    }
</script>
<style>
    .tab-content > .active.fade, .pill-content > .active.fade {
        opacity: 1;
    }

    #myTabContent {
        padding: 15px 0;
    }

    .boxTop {
        padding: 10px 0 0 0;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-top: 2px solid #2db350;
        border-radius: 3px 3px 0 0;
    }

        .boxTop > h5 {
            font-size: 16px;
            margin: 0;
            padding: 0px 15px 10px;
        }

    /*Rev 1.0*/

    body, .dxtcLite_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 13px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 7px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 9px;
        right: 24px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select, .h-branch-select-new {
        position: relative;
    }

        .h-branch-select::after {
            /*content: '<';*/
            content: url(../../../assests/images/left-arw.png);
            position: absolute;
            top: 34px;
            right: 18px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 17px;
            z-index: 0;
        }

        .h-branch-select-new::after {
            content: '<';
            /*content: url(../../../assests/images/left-arw.png);*/
            position: absolute;
            top: 9px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    select:not(.btn):focus {
        border-color: #094e8c;
    }

    select:not(.btn):focus-visible {
        box-shadow: none;
        outline: none;
    }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    select:not(.btn) {
        padding-right: 30px;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue,
    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo, #FormDate, #toDate, #proj_start_dt {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header .modal-title {
        font-size: 14px;
    }

    .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1, #cmbDOJ_B-1, #cmbLeaveEff_B-1, #FormDate_B-1, #toDate_B-1, #proj_start_dt_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img, #cmbDOJ_B-1 #cmbDOJ_B-1Img, #cmbLeaveEff_B-1 #cmbLeaveEff_B-1Img, #FormDate_B-1 #FormDate_B-1Img, #toDate_B-1 #toDate_B-1Img, #proj_start_dt_B-1 #proj_start_dt_B-1Img {
            display: none;
        }

    #FormDate_I, #toDate_I, #proj_start_dt_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        /*z-index: 1;*/
    }

    .pad-md-18 {
        padding-top: 10px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .dxeCalendarSelected_PlasticBlue {
        color: White;
        background-color: #185598;
    }

    .dxeTextBox_PlasticBlue {
        height: 34px;
        border-radius: 4px;
    }

    #cmbDOJ_DDD_PW-1 {
        z-index: 9999 !important;
    }

    #cmbDOJ, #cmbLeaveEff {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .btn-sm, .btn-xs {
        padding: 7px 10px !important;
    }

    #productAttributePopUp_PWH-1 span, #ASPxPopupControl2_PWH-1 span {
        color: #fff !important;
    }

    #marketsGrid_DXPEForm_tcefnew, .dxgvPopupEditForm_PlasticBlue {
        height: 220px !important;
    }

    .btn {
        height: 34px;
    }

    .dxpcLite_PlasticBlue .dxpc-header, .dxdpLite_PlasticBlue .dxpc-header {
        padding: 6px 4px 6px 10px;
        background: #094e8c;
    }

    #pcModalMode_PW-1 {
        border-radius: 12px;
        overflow: hidden;
    }

    .cke_bottom {
        background: #094e8c;
    }

    .fff > thead > tr > th {
        background: #094e8c;
    }

    .sltemp {
        padding: 0;
    }

    .nav-tabs {
        border: none;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #094e8c;
            color: #fff;
            border-radius: 6px;
            border: none;
        }

        .nav-tabs > li > a {
            color: #111;
            border: none;
            border-radius: 6px;
            /*Rev 2.0*/
            background: #dbdbdb;
            /*Rev end 2.0*/
        }

    /*Rev end 1.0*/
</style>
<div class="breadCumb">
    <span>Time Sheet Entity Master</span>
</div>


<div class="container">
    <div class="backBox p-3 mt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link " id="Client-tab" data-toggle="tab" href="#Client" role="tab" aria-controls="Client" aria-selected="false">Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Project-tab" data-toggle="tab" href="#Project" role="tab" aria-controls="Project" aria-selected="false">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Activity-tab" data-toggle="tab" href="#Activity" role="tab" aria-controls="Activity" aria-selected="false">Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Employee-tab" data-toggle="tab" href="#Employee" role="tab" aria-controls="Employee" aria-selected="false">Employee Attatchment</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active" id="Client" role="tabpanel" aria-labelledby="Client-tab">
                @{
                    Html.RenderAction("_PartialClientGrid", "TimeSheet");
                }
            </div>
            <div class="tab-pane fade" id="Project" role="tabpanel" aria-labelledby="Project-tab">
                @{
                    Html.RenderAction("_PartialProjectGrid", "TimeSheet");
                }
            </div>
            <div class="tab-pane fade" id="Activity" role="tabpanel" aria-labelledby="Activity-tab">
                @{
                    Html.RenderAction("_PartialActivityGrid", "TimeSheet");
                }
            </div>
            <div class="tab-pane fade" id="Employee" role="tabpanel" aria-labelledby="Employee-tab">
                <div class="col-md-8">
                    <table style="margin-bottom:15px">
                        <tr>
                            <td style="width:130px"><span class="font-normal">Employee</span></td>
                            <td class="sltemp">
                                <select id="userID" onchange="empchange();">
                                    <option></option>
                                </select>
                            </td>
                        </tr>
                    </table>


                </div>

                <div class="clear"></div>

                <div class="col-md-6">
                    <div class="boxTop">
                        <h5>CLIENT</h5>
                        @{
                            Html.RenderAction("_PartialClientSelectionGrid", "TimeSheet");
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxTop">
                        <h5 class="font-pp">PROJECT</h5>
                        @{
                            Html.RenderAction("_PartialProjectSelectionGrid", "TimeSheet");
                        }
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6">
                    <div class="boxTop">
                        <h5>ACTIVITY</h5>
                        @{
                            Html.RenderAction("_PartialActivitySelectionGrid", "TimeSheet");
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxTop">
                        <h5>PRODUCT</h5>
                        @{
                            Html.RenderAction("_PartialProductSelectionGrid", "TimeSheet");
                        }
                    </div>
                </div>
                <div class="clear"></div>
                <div style="margin-top:15px"><button type="button" class="btn btn-sucess" onclick="SaveAttatchment();">Save Attatchment</button></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        gridProject.Refresh();
        gridClient.Refresh();
        gridActivity.Refresh();

        gridProjectSelection.Refresh();
        gridClientSelection.Refresh();
        gridActivitySelection.Refresh();
        gridProductSelection.Refresh();


        var employeeUrl = '@Url.Action("GetEmployee", "TimeSheet")'
        $.ajax({
            type: "POST",
            url: employeeUrl,
            processData: false,
            contentType: 'application/json',
            success: function (msg) {
                //console.log(msg);
                if (msg.length > 0) {
                    var obj = "<option>Select</option>";
                    for (i = 0; i < msg.length; i++) {
                        obj += "<option value='" + msg[i].EmpCode + "'>" + msg[i].NAME + "</option>"
                    }
                    obj += "";
                    //console.log(obj)
                    $("#userID").html(obj);
                }
            }
        });

    })
</script>