@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                03-02-2023        2.0.38           PRITI               0025604: Enhancement Required in the Order Summary Report *@

@*====================================================== Revision History ==========================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridProductlist";

    settings.CallbackRouteValues = new { Action = "PartialOrderSummaryAllProducts", Controller = "OrderSummary" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallbackProduct";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;


    settings.Columns.Add(x =>
    {
        x.FieldName = "Shop_Name";
        x.Caption = "Shop";
        x.VisibleIndex = 1;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "sProducts_Name";
        x.Caption = "Product";
        x.VisibleIndex = 2;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);


    });



    settings.Columns.Add(x =>
    {
        x.FieldName = "Product_Qty";
        x.Caption = "Quantity";
        x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "Product_Rate";
        x.Caption = "Rate";
        x.VisibleIndex = 4;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Product_Price";
        x.Caption = "Price";
        x.VisibleIndex = 5;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
    });
    //Rev 1.0
    if (ViewBag.IsViewMRPInOrder == "1")
    {
        settings.Columns.Add(x =>
        {
            x.FieldName = "Product_MRP";
            x.Caption = "MRP";
            x.VisibleIndex = 6;
            x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        });
    }
    if (ViewBag.IsDiscountInOrder == "1")
    {
        settings.Columns.Add(x =>
        {
            x.FieldName = "Product_Discount";
            x.Caption = "Discount on MRP";
            x.VisibleIndex = 7;
            x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        });
    }
    //Rev 1.0 End
    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 8;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.WriteLine("<a style='cursor:pointer' onclick=\"EditProduct('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ProdId")) + "','" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ID")) + "')\"><img src='/assests/images/Edit.png' /></a>");
            ViewContext.Writer.WriteLine("<a style='cursor:pointer' onclick=\"DeleteProduct('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ProdId")) + "','" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ID")) + "')\"><img src='/assests/images/delete.png' /></a>");

        });

    });

}).Bind(Model).GetHtml()


