@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                19-07-2023        2.0.41           Pallab              All action button should be under one column, cross icon add in "Select Design" popup in order summary 
                                                                            Refer: 26596 *@
@*2.0                29/05/2024        V2.0.47          Sanchita            0027405: Colum Chooser Option needs to add for the following Modules*@
@*====================================================== Revision History ==========================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridorderrsummary";

    settings.CallbackRouteValues = new { Action = "PartialOrderSummary", Controller = "OrderSummary" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";


    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    // Rev 2.0
    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.SettingsContextMenu.Enabled = true;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";
    // End of Rev 2.0


    //Rev Debashis
    if (TempData["IsPaitentDetails"].ToString() == "0")
    {
        //End of Rev Debashis
        settings.Columns.Add(x =>
        {
            x.FieldName = "EmployeeName";
            x.Caption = "Employee Name";
            x.VisibleIndex = 1;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EmployeeName'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "BRANCHDESC";
            x.Caption = "Branch";
            x.VisibleIndex = 2;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='BRANCHDESC'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });


        settings.Columns.Add(x =>
        {
            x.FieldName = "shop_name";
            x.Caption = "Shop Name";
            x.VisibleIndex = 3;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='shop_name'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "ENTITYCODE";
            x.Caption = "Code";
            x.VisibleIndex = 4;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(100);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ENTITYCODE'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "address";
            x.Caption = "Address";
            x.VisibleIndex = 5;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='address'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0

        });
        settings.Columns.Add(x =>
        {
            x.FieldName = "owner_contact_no";
            x.Caption = "Contact";
            x.VisibleIndex = 6;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(120);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='owner_contact_no'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Shoptype";
            x.Caption = "Shop type";
            x.VisibleIndex = 7;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shoptype'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });


        settings.Columns.Add(x =>
        {
            x.FieldName = "date";
            x.Caption = "Order Date";
            x.VisibleIndex = 8;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(100);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='date'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });


        settings.Columns.Add(x =>
        {
            x.FieldName = "OrderCode";
            x.Caption = "Order Number";
            x.VisibleIndex = 9;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(100);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='OrderCode'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "order_amount";
            x.Caption = "Order Value";
            x.VisibleIndex = 10;
            x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            x.Width = System.Web.UI.WebControls.Unit.Pixel(200);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='order_amount'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });
        //Rev 1.0
        //settings.Columns.Add(x =>
        //{
        //    x.Caption = "Product Details";
        //    x.VisibleIndex = 11;
        //    x.SetDataItemTemplateContent(c =>
        //    {
        //        //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenProductWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\">View</a>");
        //        //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenProductWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img src=\"../../../assests/images/eye2.png\" /></a>");
        //    });


        //});
        //settings.Columns.Add(x =>
        //{
        //    x.Caption = "Delete";
        //    x.VisibleIndex = 12;
        //    x.SetDataItemTemplateContent(c =>
        //    {
        //        //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"DeleteOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\">Delete</a>");
        //        //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"DeleteOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img src=\"../../../assests/images/Delete.png\" /></a>");
        //    });

        //});
        //Rev end 1.0
        //Rev Debashis
        //Mantis Issue 24944
        if (ViewBag.CanPrint == true)
        {
            settings.Columns.Add(x =>
            {
                x.Caption = "Action";
                x.VisibleIndex = 18;
                x.SetDataItemTemplateContent(c =>
                {
                    //Rev 1.0
                    //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"PrintOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\">Print</a>");
                    ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenProductWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img class=\"mr-2\" src=\"../../../assests/images/eye2.png\" /></a>");

                    ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"PrintOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img class=\"mr-2\" src=\"../../../assests/images/print.png\" /></a>");

                    ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"DeleteOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img src=\"../../../assests/images/Delete.png\" /></a>");
                    //Rev end 1.0
                });

            });
        }

        //End of Mantis Issue 24944
    }
    if (TempData["IsPaitentDetails"].ToString() == "1")
    {
        settings.Columns.Add(x =>
        {
            x.FieldName = "EmployeeName";
            x.Caption = "Employee Name";
            x.VisibleIndex = 1;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EmployeeName'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "BRANCHDESC";
            x.Caption = "Branch";
            x.VisibleIndex = 2;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='BRANCHDESC'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });


        settings.Columns.Add(x =>
        {
            x.FieldName = "shop_name";
            x.Caption = "Shop Name";
            x.VisibleIndex = 3;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='shop_name'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "ENTITYCODE";
            x.Caption = "Code";
            x.VisibleIndex = 4;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ENTITYCODE'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "address";
            x.Caption = "Address";
            x.VisibleIndex = 5;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='address'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0

        });
        settings.Columns.Add(x =>
        {
            x.FieldName = "owner_contact_no";
            x.Caption = "Contact";
            x.VisibleIndex = 6;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='owner_contact_no'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Shoptype";
            x.Caption = "Shop type";
            x.VisibleIndex = 7;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Shoptype'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Patient_Name";
            x.Caption = "Patient Name";
            x.VisibleIndex = 8;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Patient_Name'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Patient_Phone_No";
            x.Caption = "Patient Phone No.";
            x.VisibleIndex = 9;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Patient_Phone_No'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Patient_Address";
            x.Caption = "Patient Address";
            x.VisibleIndex = 10;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Patient_Address'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Hospital";
            x.Caption = "Patient Hospital";
            x.VisibleIndex = 11;
            // x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Hospital'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "Email_Address";
            x.Caption = "Patient Email Address";
            x.VisibleIndex = 12;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Email_Address'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "date";
            x.Caption = "Order Date";
            x.VisibleIndex = 13;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='date'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });


        settings.Columns.Add(x =>
        {
            x.FieldName = "OrderCode";
            x.Caption = "Order Number";
            x.VisibleIndex = 14;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='OrderCode'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.FieldName = "order_amount";
            x.Caption = "Order Value";
            x.VisibleIndex = 15;
            x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);

            // Rev 2.0
            if (ViewBag.RetentionColumn != null)
            {
                System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='order_amount'");
                if (row != null && row.Length > 0)  /// Check now
                {
                    x.Visible = false;
                }
                else
                {
                    x.Visible = true;
                }
            }
            else
            {
                x.Visible = true;
            }
            // End of Rev 2.0
        });

        settings.Columns.Add(x =>
        {
            x.Caption = "Product Details";
            x.VisibleIndex = 16;
            x.SetDataItemTemplateContent(c =>
            {
                //Rev 1.0
                //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenProductWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\">View</a>");
                ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenProductWindow('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img class=\"mr-2\" src=\"../../../assests/images/eye2.png\" /></a>");
                //Rev end 1.0
            });

        });
        settings.Columns.Add(x =>
        {
            x.Caption = "Delete";
            x.VisibleIndex = 17;
            x.SetDataItemTemplateContent(c =>
            {
                //Rev 1.0
                //ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"DeleteOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\">Delete</a>");
                ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"DeleteOrder('" + Convert.ToString(DataBinder.Eval(c.DataItem, "OrderId")) + "')\"><img src=\"../../../assests/images/Delete.png\" /></a>");
                //Rev end 1.0
            });

        });

    }
    //End of Rev Debashis
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "order_amount").DisplayFormat = "0.00";



}).Bind(Model).GetHtml()
