@Html.DevExpress().GridView(settings =>
{
    settings.Name = "SecondStageListGrid";
    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "PrimarySalesOrder", Action = "RenderSecondStagegrid" };
    settings.KeyFieldName = "SEQ";
    //settings.EnableRowsCache = true;
    //settings.Settings.ShowFilterRow = true;
    //settings.SettingsPager.PageSize = 10;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    settings.Settings.ShowFilterRowMenu = true;

    settings.Columns.Add(column =>
    {
        column.Caption = "From Date";
        column.FieldName = "FROM_DATE";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        column.VisibleIndex = 1;
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "To Date";
        column.FieldName = "TO_DATE";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        column.VisibleIndex = 2;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Shop_Name";
        x.Caption = "Customer Name";
        x.VisibleIndex = 3;
        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a data-toggle='tooltip' data-placement='top' title='Click here to get order wise detail report' style='cursor:pointer' onclick=\"Open3rdStage('" + Convert.ToString(DataBinder.Eval(c.DataItem, "SHOP_CODE")) + "')\">" + Convert.ToString(DataBinder.Eval(c.DataItem, "Shop_Name")) + "</a>");
        });
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });
    
    settings.Columns.Add(column =>
    {
        column.Caption = "Order Value";
        column.FieldName = "ORDERAMOUNT";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        column.VisibleIndex = 4;
    });
    

    //settings.Columns.Add(x =>
    //{
    //    x.FieldName = "ORDERAMOUNT";
    //    x.Caption = "Order Value";
    //    x.VisibleIndex = 3;
    //    x.SetDataItemTemplateContent(c =>
    //    {
    //        ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"Open3rdStage('" + Convert.ToString(DataBinder.Eval(c.DataItem, "SHOP_CODE")) + "')\">" + Convert.ToString(DataBinder.Eval(c.DataItem, "ORDERAMOUNT")) + "</a>");
    //    });
    //    x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    //});

    //settings.ClientSideEvents.BeginCallback = "OnBeginSecondStageCallback";

    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "ORDERAMOUNT").DisplayFormat = "0.00";
    
}).Bind(Model).GetHtml()

