<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="FSMTestingConnectionString" connectionString="Data Source=3.7.30.86,1480\SQLEXPRES;Initial Catalog=FSM_ITC;User ID=sa;Password=sa34@Tre47f$6" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SenderID" value="148270680727" />
    <add key="AppID" value="AAAAIoWfCpc:APA91bEMOPyfjsyziPC1WYJiPHjzdmTQJmAOKP0fM24iXI9BgrmyhH4uLY6Jd-6Lpjp8mvSdpSp-zm20ApTOYQ3Ean4m6LicJ5CoECS_v5u2PUAwA8E6FLsu2ZC6_WxuSYnTTLzlUi4E" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ERPAPIBSAEURL" value="http://3.7.30.86:84/" />
    <add key="Logprint" value="1" />
    <add key="ShopSubmitXMLURL" value="\\\\10.0.8.251\\Location\\Processing" />
    <add key="SiteURL" value="http://localhost:16126/CommonFolder/" />
    <add key="ProfileImageURL" value="http://localhost:16126/CommonFolder/ProfileImages/" />
    <add key="MaterialImageURL" value="http://localhost:16126/CommonFolder/MaterialImage/" />
    <add key="BillingImage" value="http://localhost:16126/CommonFolder/" />
    <add key="DoctorDegree" value="http://localhost:16126/DoctorImage/" />
    <add key="ActivityAttachment" value="http://localhost:16126/CommonFolder/ActivityAttachment/" />
    <!-- Rev Sanchita [Attached documents as save at Portal/Commonfolder location and will be downloaded from Portal location only -->
    <!-- <add key="DocumentAttachment" value="http://localhost:16126/CommonFolder/AttachDocument/" />-->
    <add key="DocumentAttachment" value="http://3.7.30.86:81" />
    <!-- End of Rev Sanchita -->
    <add key="DocumentTypeImage" value="http://localhost:16126/CommonFolder/DocumentTypeImage/" />
    <add key="CollectionFile" value="http://localhost:16126/CommonFolder/CollectionFile/" />
    <add key="APIHostingPort" value="http://localhost:16126" />
    <add key="username" value="QHEkaruna" />
    <add key="password" value="baj8piv3" />
    <add key="Provider" value="http://5.189.187.82/sendsms/sendsms.php" />
    <add key="sender" value="KARUNA" />
    <!--<add key="DBConnectionDefault" value="Data Source=10.0.8.251\MSSQL2016;Initial Catalog=SalesTracker;User ID=sa; Password=sql@123;pooling='true';Max Pool Size=200" />-->
    <add key="DBConnectionDefault" value="Data Source=3.7.30.86,1480\SQLEXPRESS;Initial Catalog=FSM_ITC;User ID=sa; Password=sa34@Tre47f$6;pooling='true';Max Pool Size=200" />
    <!-- <add key="DBConnectionDefault" value="Data Source=EC2AMAZ-VAOCJ2J;Initial Catalog=FTS1718;User ID=sa; Password=4yU29211*HE;pooling='true';Max Pool Size=200;;Connection Timeout=950" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" executionTimeout="180" />
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>