@*====================================================== Revision History ============================================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                24-01-2023        2.0.38           Pallab              25622: Vertical scroll bar needs to be introduced in Quotation report *@
@*====================================================== Revision History ============================================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridQuotationApproval";

    settings.CallbackRouteValues = new { Action = "GetQuotationApprovalList", Controller = "QuotationApproval" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.SettingsBehavior.EnableCustomizationWindow = true;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;


    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;
    settings.Settings.ShowFilterRowMenu = true;
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
    settings.SettingsContextMenu.Enabled = true;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";


    settings.Columns.Add(x =>
    {
        x.FieldName = "SEQ";
        x.Caption = "Sr. No.";
        x.VisibleIndex = 1;
        //x.Width = 100;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SEQ'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(8);
                x.Width = 50;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(8);
            x.Width = 50;
            //Rev end 1.0
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "DOCUMENT_NUMBER";
        x.Caption = "Document Number";
        x.VisibleIndex = 2;
        //x.Width = 100;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='DOCUMENT_NUMBER'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(25);
                x.Width = 200;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(25);
            x.Width = 200;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "QUOTATIONDATE";
        x.Caption = "Date";
        x.VisibleIndex = 3;
        //x.Width = 100;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='QUOTATIONDATE'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
                x.Width = 100;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            x.Width = 100;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "CUSTNAME";
        x.Caption = "Customer Name";
        x.VisibleIndex = 4;
        //x.Width = 100;
        // x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CUSTNAME'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
                //x.Width = 100;
                x.Width = 150;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            //x.Width = 100;
            x.Width = 150;
            //Rev end 1.0
        }

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "CUSTADDRESS";
        x.Caption = "Address Details";
        x.VisibleIndex = 5;
        //x.Width = 120;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        // x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CUSTADDRESS'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
                x.Width = 250;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            x.Width = 250;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "CUSTEMAIL";
        x.Caption = "Email id";
        x.VisibleIndex = 6;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CUSTEMAIL'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
                x.Width = 200;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            x.Width = 200;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "CONTACTPERSON";
        x.Caption = "Contact person";
        x.VisibleIndex = 7;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CONTACTPERSON'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
                x.Width = 200;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
            x.Width = 200;
            //Rev end 1.0
        }
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "CONTACTNO";
        x.Caption = "Contact number";
        x.VisibleIndex = 8;
        //x.Width = 180;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CONTACTNO'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
                x.Width = 200;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
            x.Width = 200;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "PRODUCT_NAME";
        x.Caption = "Product";
        x.VisibleIndex = 9;
        //x.Width = 180;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PRODUCT_NAME'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(40);
                x.Width = 300;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(40);
            x.Width = 300;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "RATE_SQFT";
        x.Caption = "Rate in Sq. ft.";
        x.VisibleIndex = 10;
        //x.Width = 180;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='RATE_SQFT'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
                x.Width = 200;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
            x.Width = 200;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "SALESPERSON";
        x.Caption = "Sales Person";
        x.VisibleIndex = 11;
        //x.Width = 180;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SALESPERSON'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
                x.Width = 150;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            x.Width = 150;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "PROJECT_NAME";
        x.Caption = "Project Name";
        x.VisibleIndex = 12;
        //x.Width = 180;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PROJECT_NAME'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
                x.Width = 150;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            x.Width = 150;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "REMARKS";
        x.Caption = "Remarks";
        x.VisibleIndex = 13;
        //x.Width = 100;
        //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='REMARKS'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
                x.Width = 150;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
            x.Width = 150;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "QUOTATION_STATUS";
        x.Caption = "Status";
        x.VisibleIndex = 14;
        //x.Width = 180;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='QUOTATION_STATUS'");
            if (row != null && row.Length > 0)
            {
                x.Visible = false;
                //x.Width = 0;
            }
            else
            {
                x.Visible = true;
                //Rev 1.0
                //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
                x.Width = 100;
                //Rev end 1.0
            }
        }
        else
        {
            x.Visible = true;
            //Rev 1.0
            //x.Width = System.Web.UI.WebControls.Unit.Percentage(12);
            x.Width = 100;
            //Rev end 1.0
        }
    });

    settings.Columns.Add(x =>
    {
        x.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                //"<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenforApprove('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "DOCUMENT_NUMBER")) + "')\" class=\"\" title=\"Approve/Reject\"><span class='ico editColor mr-3'><i class='fa fa-eye' aria-hidden='true'></i></span></a>" +
                "<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenforApprove('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "DOCUMENT_NUMBER")) + "')\" class=\"\" title=\"Approve/Reject\"><span class='ico editColor'><img src=\"../../../assests/images/eye2.png\" /></span></a>" +
                 ""
            );
        });
        x.Settings.AllowDragDrop = DefaultBoolean.False;
        x.Settings.AllowSort = DefaultBoolean.False;
        x.Width = 50;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;


        x.Caption = "Action";
        x.VisibleIndex = 15;
    });

}).Bind(Model).GetHtml()

