.closeBtn {
        font-size: 27px;
        padding: 8px;
        color: blue;
    }

    #EfModel .modal-dialog {
        width: 100%;
    }

    #pendActModel .modal-dialog {
        width: 100%;
    }

    #CustomNewNotify {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #54749d;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 230px;
        font-size: 17px;
    }

    .amcharts-chart-div > svg + a {
        display: none !important;
    }

    #CustomNewNotify.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
        animation: fadein 0.5s, fadeout 0.5s 5.5s;
    }
@-webkit-keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 230px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 230px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                top: 230px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                top: 230px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }
        .DisableClass {
                background: #28303c !important;
    cursor: default !important;
    -ms-transform: scale(.9);
    /* -webkit-transform: scale(.9); */
    /* transform: scale(.9); */
    /* z-index: 9999; */
    color: #dcdcdc !important;
    /*animation: 5s shake infinite alternate;*/
    width: 103%;
        }


        .bodyBg {
            background: #dcd9d4;
        }

        .popover-content {
            color: #333;
        }

        .popover-content {
            width: 450px !important;
            color: #4869a7;
            font-size: 12px;
        }

        .popover {
            max-width: 450px !important;
        }

        .hdBoder {
            border-bottom: 1px solid #848792;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }

        .colWraper {
            padding: 5px 5px 5px 5px;
            border: 1px solid #2c4182;
            margin-bottom: 5px;
            background: #efefef;
            min-height: 428px; /*405px;*/
        }

        .mcus {
            margin: 12px 0;
        }

            .mcus > tbody > tr > td {
                padding-bottom: 5px;
                padding-right: 15px;
            }

        .diverh {
            font-size: 14px;
            background: #54749d;
            color: #fff;
            padding: 5px 10px;
            margin-bottom: 1px;
        }

        .white, .white:hover, .white:focus, .white:active {
            color: #fff;
            font-size: 30px;
        }

        .pad5 {
            padding: 5px;
        }

        .trSpan {
            transform: translateY(-5px);
            position: relative;
            display: block;
        }

        .panelClass {
            margin-bottom: 31px;
            top: 50px;
            display: none;
            opacity: 0;
        }

        .serverMsg {
            color: maroon;
            font-size: 22px;
        }

        .firstCell {
            text-align: center;
            padding: 0;
        }

        .besidepart {
            display: inline-block;
            margin-left: 10px;
        }

        .excelIco {
            height: 25px;
            margin-top: -8px;
        }

        .widget {
            height: 55px;
            text-align: center;
            padding: 20px 0;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 2px;
            border-radius: 8px;
            line-height: 19px;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 2px !important;
        }
        .widget label {
            margin-bottom:0 !important;
        }
            .widget.c1 {
                background: #C08410;
            }

            .widget.c2 {
                background: #2C469B;
            }


            .widget.c3 {
                background: #468847;
            }


            .widget.c4 {
                background: #2FABD9;
            }


            .widget.c5 {
                background: #009c19;
            }


            .widget.c6 {
                background: #965a89;
            }

            .widget.c7 {
                background: #e84c0e;
            }


            .widget.c8 {
                background: #0BA127;
            }


            .widget.c9 {
                background: #4869a7;
            }


        .zoomImg {
            transition: transform .2s;
            margin: 0 auto;
            cursor: pointer;
            padding: 0 !important;
            border: 1px solid #e9e9e9;
        }

            .zoomImg:hover {
                -ms-transform: scale(1.02);
                -webkit-transform: scale(0.5);
                transform: scale(1.05);
                z-index: 9999;
                /*animation: 5s shake infinite alternate;*/
                border: 1px solid #2d2626;
            }



        .zoom {
            transition: transform .2s;
            margin: 0 auto;
            cursor: pointer;
            padding: 0 !important;
            border: 1px solid #e9e9e9;
        }

            .zoom:hover {
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                z-index: 9999;
                /*animation: 5s shake infinite alternate;*/
                border: none;
            }

        .HeaderStyleCRM {
            color: #111e4e;
            font-size: 30px;
        }

        .scroller {
            max-height: 82vh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 5px; /* for vertical scrollbars */
        }

        ::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.5);
        }


        .arrowPointer {
        color:green;
            padding-left: 5px;
         /*animation: ArrowleftRight 5s infinite;*/ 
        }


        @-webkit-keyframes ArrowleftRight {
        0%   {transform:translateX(10px)}
        25%  {transform:translateX(0px)}
        50%  {transform:translateX(10px)}
        75%  {transform:translateX(0px)}
        100% {transform:translateX(10px)}
}

        @keyframes ArrowleftRight {
            0% {
                transform: translateX(10px);
            }

            25% {
                transform: translateX(0px);
            }

            50% {
                transform: translateX(10px);
            }

            75% {
                transform: translateX(0px);
            }

            100% {
                transform: translateX(10px);
            }
        }
    .scroller{
        padding-bottom:10px
    }
.scroller>div>.col-md-12 {
    display:flex;
    align-items: center;
    justify-content: center;
}
.scroller>div>.col-md-12:after{
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 9px solid #28303c;
    position: absolute;
    right: -9px;
    visibility:hidden;
}
.scroller>div>.col-md-12.DisableClass:after {
    visibility:visible;
}
.rightPanel {
    min-height:75vh;
    background:#f7f7f7;
}

.HeaderStyleCRM {
    color: #666769;
    font-size: 30px;
    margin-top: 12px !important;
}
.hdBoder {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 4px;
    margin-bottom: 15px;
    background: #f7f7f7;
}
.rightSide {
    background: #fff;
    min-height: 800px;
    /* z-index: 100; */
    position: relative !important;
    margin-left: 167px;
    padding: 0;
}
.pdright15 {
    padding-right: 15px;
}