@*====================================================== Revision History ===========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                16-01-2023        2.0.38           Pallab              25576: Report page design modification *@
@*====================================================== Revision History ===========================================================*@

@model IList<MyShop.Models.EmployeeHiarchyModel>
@{
    ViewBag.Title = "List";
    /// Layout = "~/Views/Shared/_Layoutpage1.cshtml";
}
@*@section HeadResources{


    @Html.DevExpress().GetStyleSheets(
                    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, ExtensionType = ExtensionType.TreeList },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, ExtensionType = ExtensionType.DropDownEdit },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList, ExtensionType = ExtensionType.Button },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor }
        )



    @Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
                new Script { ExtensionSuite = ExtensionSuite.GridView },
                new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
                new Script { ExtensionSuite = ExtensionSuite.Editors },
                new Script { ExtensionSuite = ExtensionSuite.Chart },
                new Script { ExtensionSuite = ExtensionSuite.Report },
                new Script { ExtensionSuite = ExtensionSuite.Scheduler },
                new Script { ExtensionSuite = ExtensionSuite.TreeList }

        )



    }*@

<script>

    function OnCustomshoplistClick(shopid) {
        var dt = { "selectedusrid": shopid };
        $.post('@Url.Action("GetShopList", "EmployeeList")', dt, function (data, status) {

        });
    }
</script>

<style>
    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 20px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 33px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .whclass.selectH {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

        .whclass.selectH:focus-visible {
            outline: none;
        }

        .whclass.selectH:focus {
            border: 1px solid #164f93;
        }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue, .dxtlControl_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .dxtlHeader_PlasticBlue, .dxtlControl_PlasticBlue .dxtlHSDC {
        background: #094e8c !important;
    }
    /*Rev end 1.0*/

    @@media (min-width: 1200px)
    {
        .container {
            width: 92%;
            max-width: 92%;
        }

    }
    
</style>

@*Rev 1.0: "form_main backBox px-3 pb-3 pt-3" div add*@
<div class="container pt-5">
    <div class="form_main backBox px-3 pb-3 pt-3">

        @*@Html.Action("_PartialEmployeeList")*@
        <div class="">
            @Html.Partial("_PartialEmployeeList", Model)
        </div>
    </div>
</div>
@*Rev end 1.0*@
