
<div class="col-md-12">
    <div id="divproduct">
        <label class="uplabel">Select File to Import (Add/Update)</label>
        <div><input type="file" id="fileprod" accept=".xls,.xlsx"></div>
        <div class="pTop10  mTop5"><input type="submit" value="Import (Add/Update)" onclick="return ChekEmpSettingsUpload();" id="btnimportxls" class="btn btn-primary mt-3"></div>
    </div>
</div>
