@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                10-02-2023        2.0.39           Pallab              25656 : Master module design modification *@
@*====================================================== Revision History ==========================================================*@

@{
    ViewBag.Title = "Shift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>*@

<script>
    var LateRule = [];
    var EarlyLeaving = [];
    var RotationalShift = [];
    function AddClass() {
        @*RotationalShift = [];
        EarlyLeaving = [];
        var route = '@Url.Action("PartialShiftEntry", "ShiftMaster")';
        $('#ShiftAddModel').modal('show');
        $('#partialShiftEntry').load(route);
        setTimeout(function () {
            $('#RotationalMandatoryShiftStart').attr('style', 'display:none');
            $('#RotationalMandatoryShiftEnd').attr('style', 'display:none');
            $('#idShiftType').val("0");
            $('#normalShiftSec').show();
            $('#Rotationalshiftsec').hide();
        }, 800);*@
        //ResetShiftEntry();

            var url = "/MYSHOP/ShiftMaster/masterSetting?ActionType=ADD&Shiftcode=0&EditFlag=1&ShiftId=0";
            window.location.href = url;

    }

    function OnClickEditForm(shiftId, Shift_Type) {
        var url = "/MYSHOP/ShiftMaster/masterSetting?ActionType=EDIT&Shiftcode=" + shiftId + "&EditFlag=1&ShiftId=0";
        window.location.href = url;
    }


    @*function OnClickEditForm(shiftId, Shift_Type)
    {
        var route = '@Url.Action("PartialShiftByID", "ShiftMaster")?ShiftId=' + shiftId
        $('#ShiftAddModel').modal('show');
        $('#partialShiftEntry').load(route);

        //var hdnShift_Type = $('#hdnShift_Type').val();

        if (Shift_Type == "0") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("LeavingLateShiftByID", "ShiftMaster")',
                data: JSON.stringify({ 'id': shiftId }),
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseMessage == "Success") {
                        LateRule = response.LateRules;
                        EarlyLeaving = response.EarlyLeavingRules;
                        setTimeout(function () {
                            LateRuleTable(); EarlyLeavingTable();
                            if (EarlyLeaving.length > 0 || LateRule.length > 0) {
                                $('#AdvanceShiftRule').attr('checked', 'checked');
                                ShowHideAdvanceRule();
                            }
                        }, 800);
                    }

                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
        else if (Shift_Type == "1") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RotationalShiftShiftByID", "ShiftMaster")',
                data: JSON.stringify({ 'id': shiftId }),
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.ResponseMessage == "Success") {
                        RotationalShift = response.RotationalShift;

                        setTimeout(function () {
                            $('#idShiftType').val(Shift_Type);
                            //$('#Rotationalshiftsec').show();
                            //$('#normalShiftSec').hide();
                            RotationalShiftTable();

                        }, 800);
                    }

                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

    }*@




    function OnClickDeleteForm(ShiftId) {
        var url = '/ShiftMaster/ShiftDelete/';

        jConfirm("Confirm Delete?", "Confirmation Dialog", function (ret) {
            if (ret == true) {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ 'ActionType': 'Delete', 'id': ShiftId }),
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);

                        if (response.response_msg == "Success") {
                            jAlert("Successfully Deleted");
                            GVPartialShift.Refresh();
                        }
                        else {
                            jAlert(response.response_msg);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        });
    }

    function AddEdit()
    {
        var IsValid = true;

        var Shift_Name = $("#txtShiftName").val();
        var Shift_Start = $("#txtShiftStart").val();
        var Shift_End = $("#txtShiftEnd").val();
        var Grace = $("#txtGrace").val();

        var Shift_EndDay = $('#Shift_EndDay option:selected').val();

        var TotalShiftTime = $("#txtShiftTime").val();

        var Shift_Break_Time = $("#txtShift_Break_Time").val();

            if (Shift_Name.trim() == '') {
                $('#MandatoryShiftName').attr('style', 'display:block');
                IsValid = false;
            }
            else {
                $('#MandatoryShiftName').attr('style', 'display:none');
            }

            if (Shift_Start.trim() == '') {
                $('#MandatoryShiftStart').attr('style', 'display:block');
                IsValid = false;
            }
            else {
                $('#MandatoryShiftStart').attr('style', 'display:none');
            }

            if (Shift_End.trim() == '') {
                $('#MandatoryShiftEnd').attr('style', 'display:block');
                IsValid = false;
            }
            else {
                $('#MandatoryShiftEnd').attr('style', 'display:none');
            }




        if (IsValid == true) {
            var obj = {};
            obj.Shift_Id = $("#hdn_id").val();
            obj.Shift_Name = $("#txtShiftName").val();
            obj.Shift_Start = $("#txtShiftStart").val();
            obj.Shift_End = $("#txtShiftEnd").val();

            obj.Shift_EndDay = Shift_EndDay;
            obj.Break = $("#txtShiftBreak").val();
            obj.Shift_Break_Time = $("#txtShift_Break_Time").val();
            obj.Grace = Grace.split(':')[1];
            obj.Shift_Time = TotalShiftTime;

            $.ajax({
                type: "POST",
                url: "/ShiftMaster/ShiftMasterSubmit",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.ResponseCode == "Success") {
                        $('#ShiftAddModel').modal('hide');
                        // var url = '/EmployeeAttachment/Dashboard';

                        if ($("#hdn_id").val()== "")
                        {
                            jAlert("Shift created successfully", 'Alert Dialog: [Message]', function (r) {
                                if (r == true) {
                                    GVPartialShift.Refresh();
                                    ///window.location.href = url;
                                }
                            });
                        }
                        else
                        {
                            jAlert("Shift Modify successfully", 'Alert Dialog: [Message]', function (r) {
                                if (r == true) {
                                    GVPartialShift.Refresh();
                                    ///window.location.href = url;
                                }
                            });
                        }


                    }
                    else {
                        //  document.getElementById('lblErrorMessage').innerHTML = response.ResponseMessage;
                        jAlert(response.ResponseMessage);
                    }
                },
                error: function (response) {
                    jAlert("Please try again later");
                }
            });
        }
    }


</script>
<script>
    function validateHhMm(inputField) {
        var InputValue = inputField.value;
        var Time = "";

        if (InputValue.includes(":")) {
            var BeforeColon = InputValue.split(":")[0].trim();
            var AfterColon = InputValue.split(":")[1].trim();

            if (BeforeColon == "" || BeforeColon == "00") {
                if (AfterColon.length == 0) {
                    Time = "00:00";
                }
                else if (AfterColon.length == 1) {
                    Time = "00:" + AfterColon + "0";
                }
                else {
                    Time = InputValue;
                }
            }
            else {
                if (AfterColon.length == 0) {
                    Time = BeforeColon + ":00";
                }
                else if (AfterColon.length == 1) {
                    Time = BeforeColon + ":" + AfterColon + "0";
                }
                else {
                    Time = InputValue;
                }
            }
        }
        else {
            var BeforeColon = InputValue.split(":")[0].trim();
            if (BeforeColon.length == 2) {
                Time = InputValue + ":00"
            }
            else if (BeforeColon.length == 1) {
                Time = "0" + InputValue + ":00"
            }
            else {
                Time = InputValue + ":00"
            }
        }

        var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(Time);  //Actual regex which will validate
        if (!isValid) {
            inputField.value = "";
        }
        else {
            inputField.value = Time;
        }

        return isValid;
    }

    $("#txtShiftStart").bind("keyup change", function (e) {
        var value = $('#txtShiftStart').val();
        if (value.length == 2) {
            $('#txtShiftStart').val($('#txtShiftStart').val() + ":")
        } else if ((value.length) % 3 == 2 && value.length != 1 && value.length < 5) {
            $('#txtShiftStart').val($('#txtShiftStart').val())
        }
    });

    function ChangeShiftByType() {
        $('#normalShiftSec').hide();
        $('#Rotationalshiftsec').hide();
        var idShiftType = $('#idShiftType option:selected').val();
        if (idShiftType == 0) {
            $('#normalShiftSec').show();
        }
        else if (idShiftType == 1) {
            $('#Rotationalshiftsec').show();
        }
    }

    function checkTimeHours(e) {
        var time = $(e).val();

    }

    $(document).ready(function () {
        // $('#txtShiftTime').mask('00:00');
    });

    function gridRowclick(s, e) {
        $('#GVPartialShift').find('tr').removeClass('rowActive');
        $('.floatedBtnArea').removeClass('insideGrid');
        //$('.floatedBtnArea a .ico').css({ 'opacity': '0' });
        $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea').addClass('insideGrid');
        $(s.GetRow(e.visibleIndex)).addClass('rowActive');
        setTimeout(function () {
            //alert('delay');
            var lists = $(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a');
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a .ico').css({'opacity': '1'});
            //$(s.GetRow(e.visibleIndex)).find('.floatedBtnArea a').each(function (e) {
            //    setTimeout(function () {
            //        $(this).fadeIn();
            //    }, 100);
            //});
            $.each(lists, function (index, value) {
                //console.log(index);
                //console.log(value);
                setTimeout(function () {
                    $(value).css({ 'opacity': '1' });
                }, 100);
            });
        }, 200);
    }
</script>
<style>
    .borderpad {
        border: 1px solid #ccc;
        padding: 21px 0 11px 0;
        margin-bottom: 10px;
        position: relative;
    }

        .borderpad > span {
            display: inline-block;
            background: #edf3f4;
            position: absolute;
            top: -11px;
            left: 12px;
            padding: 6px 15px 6px 4px;
            font-weight: 600;
        }

    .validclass {
        position: absolute;
        right: 0px;
        top: 26px;
    }

    /*Rev 1.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 14px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 33px;
            right: 13px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .whclass.selectH {
        padding-right: 30px;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img {
            display: none;
        }

    #dtFrom_I, #dtTo_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .pad-md-18 {
        padding-top: 24px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    /*Rev end 1.0*/

    @@media only screen and (max-width: 768px)
    {
        .breadCumb > span {
            padding: 9px 28px;
        }
    }
</style>
<div class="breadCumb">
    <span>Shift Master</span>
</div>
<div class="container">
    <div class="form_main backBox px-3 py-3">
        <div class="clearfix">
            <button type="button" class="btn btn-success btn-radius mb-2" onclick="AddClass()">
                <span class="btn-icon"><i class="fa fa-plus"></i></span>
                Add New
            </button>

            @*<a href="javascript:void(0);" onclick="AddClass()" class="btn btn-primary"><span>Add New</span> </a>*@
        </div>
        <div class="GridViewArea relative">
            @{
                Html.RenderAction("PartialShiftGrid", "ShiftMaster");
            }
        </div>
    </div>
</div>

<div class="modal fade" id="ShiftAddModel" role="dialog">
    <div class="modal-dialog" style="max-width:850px">
        <div class="modal-content">
            <div id="partialShiftEntry"></div>
        </div>
    </div>
</div>







