@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                10-02-2023        2.0.39           Pallab              25656 : Master module design modification *@
@*====================================================== Revision History ==========================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "GVPartialShift";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.CallbackRouteValues = new { Controller = "ShiftMaster", Action = "PartialShiftGrid" };

    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    //settings.ClientSideEvents.BeginCallback = "OnStartCallback";
    settings.KeyFieldName = "ShiftID";
    settings.EnableRowsCache = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;

    settings.Columns.Add(column =>
    {
        column.FieldName = "ShiftName";
        column.Caption = "Shift Name";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        column.Width = 500;
    });

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ShiftStartTime";
    //    column.Caption = "Shift Start Time";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 100;
    //});

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ShiftEndTime";
    //    column.Caption = "Shift End Time";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 100;
    //});

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ShiftDay";
    //    column.Caption = "Day";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 100;
    //});

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ShiftBreak";
    //    column.Caption = "Break";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 100;
    //});

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "Grace";
    //    column.Caption = "Grace";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 50;
    //});

    settings.Columns.Add(c =>
    {
        c.SetDataItemTemplateContent(tc =>
        {
            ViewContext.Writer.Write(
                //Rev 1.0: edit and delete image replace
                //"<div class='' ><a href=\"javascript:void(0);\" onclick=\"OnClickEditForm('" + DataBinder.Eval(tc.DataItem, "ShiftID") + "')\" class=\"mr-2\" title=\"Edit\"><span class='ico editColor'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>"
                "<div class='' ><a href=\"javascript:void(0);\" onclick=\"OnClickEditForm('" + DataBinder.Eval(tc.DataItem, "ShiftID") + "')\" class=\"mr-2\" title=\"Edit\"><span class='ico editColor'><img src=\"../../../assests/images/Edit.png\" /></span></a>" +
                 "" +
                //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "ShiftID") + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor'><i class='fa fa-trash' aria-hidden='true'></i></span></a></div>"
                "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + DataBinder.Eval(tc.DataItem, "ShiftID") + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor'><img src=\"../../../assests/images/Delete.png\" /></span></a></div>"
            );
        });
        c.Caption = "Actions";

        c.Settings.AllowDragDrop = DefaultBoolean.False;
        c.Settings.AllowSort = DefaultBoolean.False;
        c.Width = 100;
        c.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });
    settings.ClientSideEvents.RowClick = "gridRowclick";
}).Bind(Model).GetHtml()
