
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridLevelEntryList";
    settings.CallbackRouteValues = new { Action = "GetBrandVolumeValueTargetEntryList", Controller = "BrandVolumeValueTarget" };
    settings.KeyFieldName = "Guids";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.VerticalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    settings.SettingsEditing.BatchEditSettings.ShowConfirmOnLosingChanges = false;
    settings.SettingsBehavior.AllowSort = false;

    settings.SettingsEditing.BatchEditSettings.EditMode = DevExpress.Web.GridViewBatchEditMode.Cell;
    settings.SettingsEditing.BatchEditSettings.StartEditAction = DevExpress.Web.GridViewBatchStartEditAction.Click;
    settings.SettingsEditing.NewItemRowPosition = DevExpress.Web.GridViewNewItemRowPosition.Bottom;
    settings.Settings.HorizontalScrollBarMode = DevExpress.Web.ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = DevExpress.Web.ColumnResizeMode.Control;
    settings.SettingsPager.PageSizeItemSettings.Visible = false;
    settings.SettingsPager.PageSize = 100000;


    settings.Columns.Add(x =>
    {
        x.FieldName = "SlNO";
        x.Caption = "Sl#";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(7);
        x.ReadOnly = true;
        // x.Index = 1;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "TARGETLEVEL";
        x.Caption = "Target For";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "TIMEFRAME";
        x.Caption = "Time Frame";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "STARTEDATE";
        x.Caption = "Start Date";
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ENDDATE";
        x.Caption = "End Date";
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "BRANDNAME";
        x.Caption = "Brand Name";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        // x.Index = 6;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ORDERAMOUNT";
        x.Caption = "Order Amount";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(17);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        DevExpress.Web.TextBoxProperties txtEditProperties = x.PropertiesEdit as DevExpress.Web.TextBoxProperties;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).MaskSettings.Mask = "<0..999999999>.<00..99>";
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.EditCellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        // x.Index = 8;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ORDERQTY";
        x.Caption = "Order QTY";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        x.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.True;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).MaskSettings.Mask = "<0..999999999>.<00..99>";
        DevExpress.Web.TextBoxProperties txtEditProperties = x.PropertiesEdit as DevExpress.Web.TextBoxProperties;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.EditCellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        (x.PropertiesEdit as DevExpress.Web.TextBoxProperties).Style.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        // x.Index = 8;

    });

    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        //x.VisibleIndex = 16;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;

        x.SetDataItemTemplateContent(c =>
        {
            string EnqRights = "";

            EnqRights = EnqRights + "<a style='cursor:pointer;' onclick=\"EditLevelData('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Guids")) + "')\"><span class='ico editColor' ><img src=\"../../../assests/images/Edit.png\" /></span><span class='hidden-xs'></span> </a>";

            EnqRights = EnqRights + "&nbsp;&nbsp;<a style='cursor:pointer;' onclick=\"DeleteLevelData('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Guids")) + "')\"><span class='ico deleteColor'><img src=\"../../../assests/images/Delete.png\" /></span><span class='hidden-xs'></span></a>";

            ViewContext.Writer.Write(EnqRights);
        });
    });


    
    settings.Columns.Add(x =>
    {

        x.FieldName = "TARGETLEVELID";
        x.Caption = "";
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        // x.Index = 11;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(0);

    });
   
    settings.Columns.Add(x =>
    {
        x.FieldName = "INTERNALID";
        x.Caption = "";
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(0);
        // x.Index = 13;
    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "BRANDID";
        x.Caption = "";
        x.CellStyle.CssClass = "hide";
        x.HeaderStyle.CssClass = "hide";
        x.Width = System.Web.UI.WebControls.Unit.Percentage(0);
        // x.Index = 14;
    });


    settings.CustomJSProperties = (s, e) =>
    {
        if (ViewData["Success"] != null)
        {
            if (Convert.ToBoolean(ViewData["Success"]))
            {
                e.Properties["cpBatchUpdate"] = "1";
            }
        }
        else
        {
            e.Properties["cpBatchUpdate"] = "0";
        }

        e.Properties["cpDetailsID"] = Convert.ToInt32(ViewData["DetailsID"]);
        e.Properties["cpSalesTargetNo"] = Convert.ToString(ViewData["SalesTargetNo"]);
        e.Properties["cpMessage"] = Convert.ToString(ViewData["Message"]);
    };

    
}).Bind(Model).GetHtml()




