@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridProductlist";

    settings.CallbackRouteValues = new { Action = "PartialOrderStatusAllProducts", Controller = "OrderStatus" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallbackProduct";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;


    settings.Columns.Add(x =>
    {
        x.FieldName = "Shop_Name";
        x.Caption = "Shop";
        x.VisibleIndex = 1;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "sProducts_Name";
        x.Caption = "Product";
        x.VisibleIndex = 2;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "Product_Qty";
        x.Caption = "Quantity";
        x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        
    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "Product_Rate";
        x.Caption = "Rate";
        x.VisibleIndex = 4;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "Product_Price";
        x.Caption = "Value";
        x.VisibleIndex = 5;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
    });

    //settings.Columns.Add(x =>
    //{
    //    x.Caption = "Action";
    //    x.VisibleIndex = 6;
    //    x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
    //    x.SetDataItemTemplateContent(c =>
    //    {
    //        ViewContext.Writer.WriteLine("<a style='cursor:pointer' onclick=\"EditProduct('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ProdId")) + "','" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ID")) + "')\"><img src='/assests/images/Edit.png' /></a>");
    //        ViewContext.Writer.WriteLine("<a style='cursor:pointer' onclick=\"DeleteProduct('" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ProdId")) + "','" + Convert.ToString(DataBinder.Eval(c.DataItem, "Order_ID")) + "')\"><img src='/assests/images/delete.png' /></a>");

    //    });

    //});

}).Bind(Model).GetHtml()
