@*====================================================== Revision History ===================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@
@*1.0                08-08-2023        V2.0.40          Pallab              26697: Enquiries "Edit", "Assign Salesman" and "Delete" action icons change *@
@*2.0                21-11-2023        V2.0.44          Pallab              27017: Column freeze & column width required for Enquiry Module *@
@*====================================================== Revision History ===================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridCRMEnquiries";
    settings.KeyFieldName = "CRM_ID";
    settings.CallbackRouteValues = new { Action = "PartialCRMEnquiriesGridList", Controller = "CRMEnquiries" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollableHeight = 400;


    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "50", "100" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;

    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;

    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";


    //settings.Columns.Add(x =>
    //{
    //    x.FieldName = "StateHead";
    //    x.Caption = "State Head";
    //    x.VisibleIndex = 2;
    //    x.Width = 200;
    //});

    //settings.Columns.Add(x =>
    //{
    //    x.FieldName = "StateHeadCode";
    //    x.Caption = "State Head Code";
    //    x.VisibleIndex = 3;
    //    x.Width = 100;
    //});

    //settings.Columns.Add(x =>
    //{
    //    x.FieldName = "EmpName";
    //    x.Caption = "Emp. Name";
    //    x.VisibleIndex = 1;
    //    x.Width = 200;
    //});


    //settings.Columns.Add(x =>
    //{
    //    x.FieldName = "OwnerDOB";
    //    x.Caption = "Owner DOB";
    //    x.VisibleIndex = 25;
    //    x.Width = 100;
    //    x.ColumnType = MVCxGridViewColumnType.DateEdit;
    //    x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
    //    (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
    //});

    //Rev 2.0:"Action" column position change(left 1st)
    settings.Columns.Add(x =>
    {
        //Mantis Issue 24832
        //if(ViewBag.CanReassign){
        if (ViewBag.CanReassign || ViewBag.CanAssign)
        {
            //End of Mantis Issue 24832
            x.SetDataItemTemplateContent(tc =>
            {
                //Mantis Issue 24776
                //ViewContext.Writer.Write(
                //  "<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>" +
                //  ""
                //  +
                //  "<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-undo' aria-hidden='true'></i></span></a>" +
                //  ""
                //  +

                //  "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a></div>"
                //  );
                //Mantis Issue 24810
                //if (Convert.ToString(DataBinder.Eval(tc.DataItem, "STATUS")) == "Assigned")
                if (Convert.ToString(DataBinder.Eval(tc.DataItem, "STATUS")) == "Assigned" || Convert.ToString(DataBinder.Eval(tc.DataItem, "STATUS")) == "Re Assigned")
                //End of Mantis Issue 24810
                {
                    //Mantis Issue 24832
                    //ViewContext.Writer.Write(
                    //"<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>" +
                    //""

                    //+
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-undo' aria-hidden='true'></i></span></a>" +
                    //""
                    //+
                    //    //Mantis Issue 24776
                    //    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a></div>"

                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a>" +
                    // ""
                    //+
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickReAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Re-Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-share' aria-hidden='true'></i></span></a></div>"
                    //    //End of Mantis Issue 24776
                    //);

                    //Rev 1.0 : action icons change
                    string EnqRights = "<div class=''>";
                    //EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>";
                    EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/Edit.png\" /></span></a>";

                    if (ViewBag.CanAssign)
                    {
                        EnqRights = EnqRights + "&nbsp;" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-user-plus' aria-hidden='true'></i></span></a>";
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/assign-salesman.png\" /></span></a>";

                    }
                    EnqRights = EnqRights + "&nbsp;" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a>";
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-2'><img src=\"../../../assests/images/Delete.png\" /></span></a>";
                    if (ViewBag.CanReassign)
                    {
                        EnqRights = EnqRights + "&nbsp;" +
                  //"<a href=\"javascript:void(0);\" onclick=\"OnClickReAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Re-Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-share' aria-hidden='true'></i></span></a>";
                  "<a href=\"javascript:void(0);\" onclick=\"OnClickReAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Re-Assign Salesman\"><span class='ico editColor mr-3'><img src=\"../../../assests/images/re-assign-salesman.png\" /></span></a>";

                    }
                    EnqRights = EnqRights + "</div>";
                    ViewContext.Writer.Write(EnqRights);
                    //End of Mantis Issue 24832
                }
                else
                {
                    //Mantis Issue 24832
                    // ViewContext.Writer.Write(
                    //"<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>" +
                    //""
                    //+
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-undo' aria-hidden='true'></i></span></a>" +
                    //""
                    //+

                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a></div>"
                    //);


                    string EnqRights = "<div class=''>";
                    //EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>";
                    EnqRights = EnqRights + "<a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/Edit.png\" /></span></a>";

                    if (ViewBag.CanAssign)
                    {
                        EnqRights = EnqRights + "&nbsp;" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-3'><i class='fa fa-user-plus' aria-hidden='true'></i></span></a>";
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickAssignSalesman('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Assign Salesman\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/assign-salesman.png\" /></span></a>";

                    }
                    EnqRights = EnqRights + "&nbsp;" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a>";
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-2'><img src=\"../../../assests/images/Delete.png\" /></span></a>";

                    EnqRights = EnqRights + "</div>";
                    ViewContext.Writer.Write(EnqRights);
                    //End of Mantis Issue 24832
                }
                //End of Mantis Issue 24776

            });
        }
        else
        {
            x.SetDataItemTemplateContent(tc =>
            {
                ViewContext.Writer.Write(
                    //"<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-3'><i class='fa fa-pencil' aria-hidden='true'></i></span></a>" +
                    "<div class=''><a href=\"javascript:void(0);\" onclick=\"OpenEnquiriesforEdit('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Modify\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/Edit.png\" /></span></a>" +
                    "" +
                    //"<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-3'><i class='fa fa-trash' aria-hidden='true'></i></span></a></div>"
                    "<a href=\"javascript:void(0);\" onclick=\"OnClickDeleteForm('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CRM_ID")) + "')\" class=\"\" title=\"Delete\"><span class='ico deleteColor mr-2'><img src=\"../../../assests/images/Delete.png\" /></span></a></div>"
                );
            });
        }
        x.Settings.AllowDragDrop = DefaultBoolean.False;
        x.Settings.AllowSort = DefaultBoolean.False;
        x.Width = 150;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Caption = "Action";
        x.FixedStyle = GridViewColumnFixedStyle.Left;


    });

    //Rev end 2.0

    //Mantis Issue 24816

    settings.Columns.Add(column =>
    {
        column.FieldName = "SEQ";
        column.Caption = "Sl#";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 96;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SEQ'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 40;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 40;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "VEND_TYPE";
        column.Caption = "Lead From";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='VEND_TYPE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
    });
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "DATE";
    //    column.Caption = "Date & Time";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy hh:mm:ss";
    //    //column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
    //    column.Width = 80;
    //    column.FixedStyle = GridViewColumnFixedStyle.Left;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "Year";
        column.Caption = "Year";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Year'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 50;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 50;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Month";
        column.Caption = "Month";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Month'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 50;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 50;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Day";
        column.Caption = "Date";
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Day'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 40;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 40;
        }
    });
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "CUSTOMER_NAME";
    //    column.Caption = "Customer";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 110;
    //    column.FixedStyle = GridViewColumnFixedStyle.Left;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "CUSTOMER_NAME";
        column.Caption = "Company Name";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 110;
        column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CUSTOMER_NAME'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 110;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 110;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "PHONENO";
        column.Caption = "Contact number";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 80;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PHONENO'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    //Rev 2.0: column position change
    settings.Columns.Add(column =>
    {
        column.FieldName = "CONTACT_PERSON";
        column.Caption = "Contact Person";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 96;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CONTACT_PERSON'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
        //End of Mantis Issue 24816
    });
    //Rev end 2.0
    settings.Columns.Add(column =>
    {
        column.FieldName = "EMAIL";
        column.Caption = "Email Id";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EMAIL'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "State";
        column.Caption = "State";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='State'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Area";
        column.Caption = "Area";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='Area'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ASSIGNED_TO";
        column.Caption = "HOD";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 120;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ASSIGNED_TO'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ReASSIGNED_TO";
        column.Caption = "Pass to";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 120;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ReASSIGNED_TO'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "FEEDBACK";
        column.Caption = "Remark";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 100;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='FEEDBACK'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    //End of Mantis Issue 24816





    //Mantis Issue 24816
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "PHONENO";
    //    column.Caption = "Contact No";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.FixedStyle = GridViewColumnFixedStyle.Left;
    //    column.Width = 80;
    //});

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "EMAIL";
    //    column.Caption = "Email";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //   // column.FixedStyle = GridViewColumnFixedStyle.Left;
    //});

    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "LOCATION";
    //    column.Caption = "Location";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //  //  column.FixedStyle = GridViewColumnFixedStyle.Left;
    //});
    //End of Mantis Issue 24816
    settings.Columns.Add(column =>
    {
        column.FieldName = "PRODUCT_REQUIRED";
        column.Caption = "Products Req.";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 90;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PRODUCT_REQUIRED'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 90;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 90;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "QTY";
        column.Caption = "Qty.";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        // column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        //column.Width = 80;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='QTY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "UOM";
        column.Caption = "UOM";
        //column.Width = 60;
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='UOM'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 60;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 60;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "ORDER_VALUE";
        column.Caption = "Order value";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //  column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        //column.Width = 80;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ORDER_VALUE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
        //End of Mantis Issue 24816
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ENQ_DETAILS";
        column.Caption = "Enquiry Details";
        //column.Width = 600;
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ENQ_DETAILS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 600;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 600;
        }
        //End of Mantis Issue 24816
    });
    //Mantis Issue 24816
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "VEND_TYPE";
    //    column.Caption = "Provided by";
    //    column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
    //});
    //End of Mantis Issue 24816
    settings.Columns.Add(column =>
    {
        column.FieldName = "ENQ_NUMBER";
        column.Caption = "Enq. No.";
        column.VisibleIndex = 12;
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 70;
        column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ENQ_NUMBER'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 70;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 70;
        }
        //End of Mantis Issue 24816
    });


    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "SOURCE";
    //    column.Caption = "Source";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 100;
    //});


    settings.Columns.Add(column =>
    {
        column.FieldName = "INDUSTRY";
        column.Caption = "Industry";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 150;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='INDUSTRY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
        //End of Mantis Issue 24816
    });


    settings.Columns.Add(column =>
    {
        column.FieldName = "MISC_COMMENTS";
        column.Caption = "Misc Comments";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 150;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='MISC_COMMENTS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 150;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 150;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "PRIORITYS";
        column.Caption = "Priority";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 100;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='PRIORITYS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "EXIST_CUST";
        column.Caption = "Existing Customer";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 140;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='EXIST_CUST'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 140;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 140;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "LAST_CONTACT_DATE";
        column.Caption = "Last Contact Date";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        //column.Width = 120;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='LAST_CONTACT_DATE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "NEXT_CONTACT_DATE";
        column.Caption = "Next Contact Date";
        column.VisibleIndex = 19;
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        //column.Width = 120;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='NEXT_CONTACT_DATE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "CONTACTEDBY";
        column.Caption = "Contacted By";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 140;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='CONTACTEDBY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 140;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 140;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "ENQ_PRODREQ";
        column.Caption = "Product Required";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 140;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ENQ_PRODREQ'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 140;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 140;
        }
        //End of Mantis Issue 24816
    });
    //Mantis Issue 24816
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "FEEDBACK";
    //    column.Caption = "Feedback";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 100;
    //});
    //End of Mantis Issue 24816
    settings.Columns.Add(column =>
    {
        column.FieldName = "FINAL_INDUSTRY";
        column.Caption = "Final Industry";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 140;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='FINAL_INDUSTRY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 140;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 140;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "ACTIVITY";
        column.Caption = "Activity";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 120;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ACTIVITY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "VERIFY_BY";
        column.Caption = "Verified By";
        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 120;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='VERIFY_BY'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 120;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 120;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "VERIFY_ON";
        column.Caption = "Verified On";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        //column.Width = 80;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='VERIFY_ON'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
        //End of Mantis Issue 24816
    });

    settings.Columns.Add(column =>
    {
        column.FieldName = "VERIFY_CLOSUREDATE";
        column.Caption = "Closure Date";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (column.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";
        //column.Width = 80;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='VERIFY_CLOSUREDATE'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
        //End of Mantis Issue 24816
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "STATUS";
        column.Caption = "Status";

        column.ColumnType = MVCxGridViewColumnType.TextBox;
        //column.Width = 80;
        //Mantis Issue 24816
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='STATUS'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 80;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 80;
        }
        //End of Mantis Issue 24816
    });
    //Mantis Issue 24816
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "ASSIGNED_TO";
    //    column.Caption = "Assigned To";
    //    column.ColumnType = MVCxGridViewColumnType.TextBox;
    //    column.Width = 120;
    //});
    //End of Mantis Issue 24816
    //Mantis Issue 24827
    settings.Columns.Add(column =>
    {
        column.FieldName = "SalesmanAssign_date";
        column.Caption = "Assign Date";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='SalesmanAssign_date'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "ReSalesmanAssign_date";
        column.Caption = "Re Assign Date";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        //column.Width = 60;
        if (ViewBag.RetentionColumn != null)
        {
            System.Data.DataRow[] row = ViewBag.RetentionColumn.Select("ColumnName='ReSalesmanAssign_date'");
            if (row != null && row.Length > 0)  /// Check now
            {
                column.Visible = false;
            }
            else
            {
                column.Visible = true;
                column.Width = 100;
            }
        }
        else
        {
            column.Visible = true;
            column.Width = 100;
        }
    });
    //End of Mantis Issue 24827



    //settings.Columns.Add(x =>
    //{
    //    x.Caption = "Change Status";
    //    x.VisibleIndex = 33;

    //    x.SetDataItemTemplateContent(c =>
    //    {
    //        ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"ShopActiveInactive('" + Convert.ToString(DataBinder.Eval(c.DataItem, "CRM_ID")) + "')\">Change Status</a>");
    //    });

    //});

}).Bind(Model).GetHtml()




