

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridMappedQuesForView";
    settings.KeyFieldName = "CONTENTID";
    settings.CallbackRouteValues = new { Action = "PartialMappedQuesForView", Controller = "LMSContentUpload" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallbackMappedQuestion";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
    //settings.Settings.VerticalScrollableHeight = 200;


    //settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = false;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "50", "100" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;

    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;

    settings.SettingsBehavior.EnableCustomizationWindow = true;
    //settings.ClientSideEvents.CustomizationWindowCloseUp = "grid_CustomizationWindowCloseUp";




    settings.Columns.Add(column =>
    {
        column.FieldName = "QUESTIONS_NAME";
        column.Caption = "Question";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        //column.Width = 300;
        column.Width = System.Web.UI.WebControls.Unit.Percentage(60);

    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "QUESTIONS_DESCRIPTN";
        column.Caption = "Description";
        //column.FixedStyle = GridViewColumnFixedStyle.Left;
        column.ColumnType = DevExpress.Web.Mvc.MVCxGridViewColumnType.TextBox;
        //column.Width = 300;
        column.Width = System.Web.UI.WebControls.Unit.Percentage(50);

    });

    settings.Columns.Add(x =>
    {
        x.SetDataItemTemplateContent(tc =>
        {
            if (ViewBag.CanEditQues)
            {
                ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"EditQuestion('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "QUESTIONS_ID")) + "', '" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CONTENTID")) + "', '" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CONTENT_TOPICID")) + "')\"><img src='/assests/images/Edit.png' style='margin-right:3px' /><div class=\"tooltip\">Edit Question</div></a>");
            }

            //ViewContext.Writer.Write(
            //"<div class=''><a href=\"javascript:void(0);\" onclick=\"EditQuestion('" + Convert.ToString(DataBinder.Eval(tc.DataItem, "QUESTIONS_ID")) + "', '" + Convert.ToString(DataBinder.Eval(tc.DataItem, "CONTENTID")) + "', '"+ Convert.ToString(DataBinder.Eval(tc.DataItem, "CONTENT_TOPICID")) + "')\" class=\"\" title=\"Edit Question\"><span class='ico editColor mr-2'><img src=\"../../../assests/images/Edit.png\" /></span></a></div>"
            //);
        });

        x.Settings.AllowDragDrop = DefaultBoolean.False;
        x.Settings.AllowSort = DefaultBoolean.False;
        //x.Width = 100;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Caption = "Action";



    });

}).Bind(Model).GetHtml()







