
@model FSMMaster.Models.LoginModel

@{
    Layout = "";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>


    <title>Login to BreezeERP</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Playfair+Display:wght@900&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/assests/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/assests/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assests/bootstrap/css/bootstrap-theme.min.css" />
    @*<link rel="stylesheet" href="/assests/css/custom/main.css" />*@
    <link rel="stylesheet" type="text/css" href="/assests/fonts/font-awesome/css/font-awesome.min.css" />
    <meta name="theme-color" content="#0C78B1" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#0C78B1" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <script language="javascript" type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
        function ForNextPage() {
            //window.open('management/ProjectMainPage.aspx','windowname1','fullscreen=yes,titlebar=no,toolbar=no,statusbar=no');
        }

        function blinkIt() {
            if (!document.all) return;
            else {
                for (i = 0; i < document.all.tags('blink').length; i++) {
                    s = document.all.tags('blink')[i];
                    s.style.visibility = (s.style.visibility == 'visible') ? 'hidden' : 'visible';
                }
            }
        }

        function removeCookiesKeyFromStorage() {
            var data = localStorage.getItem("GridCookiesId");
            if (data != null) {
                var splitCookiesData = data.split(',');
                for (var i = 1; i < splitCookiesData.length; i++) {
                    eraseCookie(splitCookiesData[i]);
                }
            }

            localStorage.setItem("GridCookiesId", "");
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        removeCookiesKeyFromStorage();
    </script>
    <style>
        .logo-wrap > img {
            width: auto;
            max-width: 100%;
            height: auto;
        }

        .backColor {
            width: 80%;
            height: 200%;
            position: fixed;
            background: #288fce;
            z-index: 2;
            top: -200px;
            left: -504px;
            transform: rotate(72deg);
        }

        .centerd-box {
            position: relative;
            background-color: #fff;
            padding: 30px 40px;
            top: 120px;
            max-width: 390px;
            width: 100%;
            margin: 0 auto;
            border-radius: 61Px;
            box-shadow: 0 6px 22px rgba(0, 0, 0, 0.3);
            z-index: 5;
        }

            .centerd-box .logo-wrap {
                margin-bottom: 25px;
                text-align: center;
                margin-top: 18px;
            }

        .logo-wrap > img {
            width: auto;
            max-width: 62%;
            height: auto;
        }

        .btn-login {
        }

        .btn-login {
            background: #288fce;
            border: none;
            -webkit-font-smoothing: antialiased;
            font-weight: 400;
            font-size: 21px;
            color: #fff;
            box-shadow: 0px 5px 8px rgba(0,0,0,0.23);
            /* width: 83px !important; */
            height: auto !important;
            border-radius: 20px !important;
            padding: 15px 0;
            text-transform: uppercase;
        }

            .btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active {
                background: #2088C7;
                border: none;
                -webkit-font-smoothing: antialiased;
                font-weight: 400;
                font-size: 21px;
                color: #fff;
                box-shadow: 0px 5px 8px rgba(0,0,0,0.27);
                /* width: 83px !important; */
                height: auto !important;
                border-radius: 20px !important;
                padding: 15px 0;
                text-transform: uppercase;
                opacity: 1;
                outline: none;
            }

        .loginArea .form-control {
            border: none;
            border-bottom: 1px solid #e0e0e0;
            text-align: center;
            font-size: 16px !important;
            box-shadow: none !important;
        }

            .loginArea .form-control:focus {
                border: none;
                border-bottom: 1px solid #B2B0B0;
            }

                .loginArea .form-control:focus + label,
                .loginArea .form-control.hasText + label {
                    -webkit-transform: translate(-50%, -30px);
                    -moz-transform: translate(-50%, -30px);
                    transform: translate(-50%, -30px);
                }

        .loginArea .form-group {
            position: relative;
            text-align: center;
        }

            .loginArea .form-group.inp {
                margin: 50px 0;
            }

            .loginArea .form-group label {
                position: absolute;
                left: 50%;
                top: 5px;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                transition: all 0.1s ease;
                cursor: inherit;
            }

        .mT40 {
            margin-top: 40px;
        }

        .fixedfooter {
            position: fixed;
            width: 100%;
            text-align: center;
            height: 50px;
            bottom: 0;
            z-index: 30;
            background: transparent;
            color: #fff;
        }

        .fts {
            padding: 60px 0;
            text-align: center
        }

            .fts img {
                width: 80px;
                margin-bottom: 25px;
                margin-top: 20px
            }

        section h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            line-height: normal;
            font-weight: 700;
            letter-spacing: -1px;
            color: rgba(255,91,103,1);
            margin-bottom: 3.5rem;
        }

            section h2 span {
                font-family: 'Open Sans', sans-serif;
                font-size: 30px;
                line-height: 45px;
                font-weight: 600;
                color: rgba(39,32,99,1);
                display: block;
                clear: both;
            }

        .hdn {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            color: rgba(39,32,99,1);
            font-size: 21px;
            line-height: 30px;
            margin-bottom: 15px;
            letter-spacing: -.08rem;
            padding: 0 0.5rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script src="~/assests/pluggins/Scrola/scrola.min.js"></script>
    <script src="~/assests/pluggins/amchart/core.js"></script>
    <script src="~/assests/pluggins/amchart/charts.js"></script>
    <script src="~/assests/pluggins/amchart/themes/animated.js"></script>
    <script>
        $(document).ready(function () {
            $('.form-control').focusout(function () {
                if (!$(this).val() == '') {
                    $(this).addClass('hasText');
                } else {
                    $(this).removeClass('hasText');
                }
            });

        });
        wow = new WOW(
            {
                boxClass: 'wow',      // default
                animateClass: 'animated', // default
                offset: 0,          // default
                mobile: false,       // default
                live: true        // default
            }
        )
        wow.init();
        // chart
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            /**
             * Define data for each year
             */
            var chartData = {
                "1995": [
                    { "sector": "Agriculture", "size": 1 },
                    { "sector": "Mining and Quarrying", "size": 5 },
                    { "sector": "Manufacturing", "size": 12 },
                    { "sector": "Electricity and Water", "size": 8 },
                    { "sector": "Construction", "size": 4 },
                ],
                "1996": [
                    { "sector": "Agriculture", "size": 13 },
                    { "sector": "Mining and Quarrying", "size": 7 },
                    { "sector": "Manufacturing", "size": 3 },
                    { "sector": "Electricity and Water", "size": 8 },
                    { "sector": "Construction", "size": 5 },
                ],
                "1997": [
                    { "sector": "Agriculture", "size": 4 },
                    { "sector": "Mining and Quarrying", "size": 13 },
                    { "sector": "Manufacturing", "size": 2 },
                    { "sector": "Electricity and Water", "size": 5 },
                    { "sector": "Construction", "size": 8 },
                ],
                "1998": [
                    { "sector": "Agriculture", "size": 13 },
                    { "sector": "Mining and Quarrying", "size": 1 },
                    { "sector": "Manufacturing", "size": 7 },
                    { "sector": "Electricity and Water", "size": 3 },
                    { "sector": "Construction", "size": 6 },
                ],
                "1999": [
                    { "sector": "Agriculture", "size": 8 },
                    { "sector": "Mining and Quarrying", "size": 3 },
                    { "sector": "Manufacturing", "size": 10 },
                    { "sector": "Electricity and Water", "size": 4 },
                    { "sector": "Construction", "size": 11 },
                ]
            };

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.PieChart);

            // Add data
            chart.data = [
                { "sector": "Agriculture", "size": 6 },
                { "sector": "Mining and Quarrying", "size": 10 },
                { "sector": "Manufacturing", "size": 3 },
                { "sector": "Electricity and Water", "size": 8 },
                { "sector": "Construction", "size": 2 },

            ];

            // Add label

            var label = chart.seriesContainer.createChild(am4core.Label);
            label.text = "1995";
            label.horizontalCenter = "middle";
            label.verticalCenter = "middle";
            label.fontSize = 50;

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "size";
            pieSeries.dataFields.category = "sector";
            pieSeries.ticks.template.disabled = true;
            pieSeries.alignLabels = false;
            pieSeries.labels.template.text = "{value.percent.formatNumber('#.')}%";
            pieSeries.labels.template.radius = am4core.percent(-40);
            pieSeries.labels.template.fill = am4core.color("white");
            pieSeries.hideCredits = true;
            pieSeries.tooltip.disabled = true;
            pieSeries.colors.list = [
                am4core.color("#845EC2"),
                am4core.color("#D65DB1"),
                am4core.color("#FF6F91"),
                am4core.color("#FF9671"),
                am4core.color("#FFC75F"),
                am4core.color("#F9F871"),
            ];
            // Animate chart data
            var currentYear = 1995;
            function getCurrentData() {
                label.text = currentYear;
                var data = chartData[currentYear];
                currentYear++;
                if (currentYear > 1999)
                    currentYear = 1995;
                return data;
            }

            function loop() {
                //chart.allLabels[0].text = currentYear;
                var data = getCurrentData();
                for (var i = 0; i < data.length; i++) {
                    chart.data[i].size = data[i].size;
                }
                chart.invalidateRawData();
                chart.setTimeout(loop, 1500);
            }

            loop();

        }); // end am4core.ready()
    </script>
    <link href="~/assests/css/newlogin.css" rel="stylesheet" />
    @*new login design*@
    <style>
        #chartdiv {
            width: 100%;
            height: 100%;
        }

        .chartArea {
            position: absolute;
            width: 200px;
            height: 200px;
            background: #fff;
            bottom: 20px;
            right: 150px;
            border-radius: 50px;
            box-shadow: 0px 8px 5px rgb(0 0 0 / 20%);
            overflow: hidden
        }

        .hider {
            width: 70px;
            height: 30px;
            background: #fff;
            z-index: 999;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 15px 0 0
        }

        .mainLogin {
            height: 100vh;
            width: 100%;
        }

        .flexArea {
            display: flex;
            width: 100%;
            height: 100vh;
        }

        .contentArea {
            width: 65%;
            overflow: hidden;
            position: relative;
            text-align: center;
            /*Rev Pallab*/
            /*background: #333 url('/assests/images/NLogin/LoginDark_bg.png') no-repeat top left;*/
            background: url('/assests/images/NLogin/LoginDark_bg2.jpg') no-repeat top left;
            /*Rev end Pallab*/
            background-size: cover;
        }

        .formArea {
            width: 35%;
        }

        .scrImage {
            max-width: 50%;
            bottom: -15px;
            position: absolute;
            transform: translateX(-70%);
        }

        .tagLine {
            color: #fff;
            margin-top: 80px
        }

            .tagLine h1, .tagLine h4, .tagLine h3, .tagLine h2 {
                font-family: opcen;
            }

            .tagLine .emp {
                color: #f5d853;
                font-size: 3.2em;
                margin-bottom: 20px
            }

        .xoptions li {
            display: inline-block;
            list-style-type: none;
            color: #fff;
            line-height: 25px;
            margin-right: 15px;
            margin-top: 25px
        }

            .xoptions li > img {
                width: 18px;
                transform: translateY(-2px);
                margin-right: 4px
            }

        .formArea {
            padding: 35px 50px;
            box-sizing: border-box;
            /*Rev Pallab*/
            /*background: #ebebeb;*/
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            /*Rev end Pallab*/
            /*Rev 1.0*/
            flex-direction: column;
            /*Rev end 1.0*/
        }

        .formBox {
            margin-top: 20px;
            font-family: poppins !important;
        }

            .formBox .form-group label {
                /*font-family: poppins;*/
                font-family: 'Open Sans', sans-serif;
            }

            .formBox .form-group {
                position: relative
            }

        .inputIcons {
            /*max-width: 14px;
            position: absolute;
            left: 15px;
            top: 38px;*/
            max-width: 20px;
            position: absolute;
            left: 10px;
            top: 37px;
        }

        .formBox .form-group input {
            border: none;
            background: #fff !important;
            border-radius: 4px;
            min-height: 43px;
            padding-left: 40px;
            border: 1px solid #dddddd;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }

        .formBox .form-group input:focus {
            border: 1px solid #e54a55;
        }

        .loginbtn {
            /*background: #6834d4;*/
            background: #e54a55;
            color: #fff;
            padding: 10px 15px;
            margin-top: 20px;
            transition: all .3s;
            font-family: 'Open Sans', sans-serif;
        }

            .loginbtn:hover {
                box-shadow: 0px 5px 5px rgba(0,0,0,0.22);
                color: #fff;
                background: #c7333d;
            }

        .ftFooter {
            font-size: 12px;
            margin-top: 20px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            color: #4a4a4a;
        }

        .mlogos {
            width: 180px;
            /*margin-left: -8px;*/
            margin-left: 0;
            /*position: absolute;
            right: 10px;
            top: 10px;*/
            margin-bottom: 20px;
        }
    </style>
    <style>
        .styleList {
            list-style-type: none;
            margin-top: 23px;
            display: block;
            padding-left: 15px
        }

            .styleList li {
                font-family: "Segoe UI","Helvetica Neue",Helvetica,Verdana,"san-serif";
                line-height: 35px;
                font-size: 1.7rem;
                padding-left: 30px;
                background: transparent url("/assests/images/verified.png") no-repeat center left
            }

        .socialIcons {
            list-style-type: none;
            margin-top: 25px
        }

            .socialIcons > li {
                display: inline-block;
            }

            .socialIcons > li {
                margin-right: 20px
            }

                .socialIcons > li > div {
                    width: 25px;
                    display: flex;
                    height: 25px;
                    background: #ebebeb;
                    border-radius: 4px;
                    /* line-height: 118px; */
                    justify-content: center;
                    align-items: center;
                    ;
                }

        .lgLink {
            background: #6967bf;
            color: #fff;
            display: inline-block;
            padding: 5px 15px;
        }

        @@media only screen and (max-width: 762px) {
            .textSection {
                display: none
            }

            .formBox {
                margin: 50px auto
            }

            .container {
                width: 100%
            }

            .lister > li {
                margin-bottom: 10px
            }

            .creditsSec#rc_app_1562 {
                display: none !important
            }

            .lister li:last-child {
                margin-right: 35px;
            }
        }

        @@media only screen and (min-width: 763px) {

            .onlySm {
                display: none;
            }
        }
        /*login button*/
        .cta {
            position: relative;
            font-size: 18px;
            margin: auto;
            padding: 19px 22px;
            transition: all 0.2s ease;
            text-decoration: none;
            color: inherit;
        }

            .cta:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 28px;
                background: rgba(248, 102, 96, 0.5);
                width: 56px;
                height: 56px;
                transition: all 0.3s ease;
            }

            .cta span {
                position: relative;
                font-size: 13px;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 0.25em;
                text-transform: uppercase;
                vertical-align: middle;
            }

            .cta svg {
                position: relative;
                top: 0;
                margin-left: 10px;
                fill: none;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: #111;
                stroke-width: 2;
                transform: translateX(-5px);
                transition: all 0.3s ease;
            }

            .cta:hover {
                text-decoration: none;
                color: #fff
            }

                .cta:hover:before {
                    width: 100%;
                    background: #f8666f;
                    top: 1px;
                    height: 55px;
                }

                .cta:hover svg {
                    transform: translateX(0);
                }

            .cta:active {
                transform: scale(0.96);
            }
        /*Effect Social*/
        .effect .buttons {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        .effect a {
            text-decoration: none !important;
            color: #fff;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-right: 20px;
            font-size: 17px;
            overflow: hidden;
            position: relative;
        }

            .effect a i {
                position: relative;
                z-index: 3;
            }

            .effect a.fb {
                background-color: #3b5998;
            }

            .effect a.tw {
                background-color: #00aced;
            }

            .effect a.g-plus {
                background-color: #dd4b39;
            }

            .effect a.dribbble {
                background-color: #ea4c89;
            }

            .effect a.pinterest {
                background-color: #cb2027;
            }

            .effect a.insta {
                background-color: #bc2a8d;
            }

            .effect a.in {
                background-color: #007bb6;
            }

            .effect a.vimeo {
                background-color: #1ab7ea;
            }

        .effect.egeon a {
            transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
        }

            .effect.egeon a i {
                transition: transform 0.2s linear 0s;
            }

            .effect.egeon a:hover {
                transform: rotate(-90deg);
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

                .effect.egeon a:hover i {
                    transform: rotate(90deg);
                }

        .btn.loginbtn:focus {
            color: #fff !important;
            border: none;
        }

        .left-top-image {
            max-width: 68%;
            margin-top: 4%;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("SubmitForm", "Login", FormMethod.Post, new { @id = "fromsalesman" }))
    {
        <section class="mainLogin">
            <div class="flexArea">
                <div class="contentArea">
                    @*<div class="tagLine"><h3>Designed to fulfill your</h3><h1 class="emp">Business Requirements</h1><h4>Simple, Intuitive and Easy to use</h4></div>
                             <div class="xoptions">
                                 <ul>
                                     <li><img src="~/assests/images/NLogin/checked.png" /> Live Tracking</li>
                                     <li><img src="~/assests/images/NLogin/checked.png" /> Infographic Data Presentation</li>
                                     <li><img src="~/assests/images/NLogin/checked.png" /> 24x7 Customer Support</li>
                                 </ul>
                             </div>
                             <img src="~/assests/images/NLogin/screen1.png" class="scrImage wow bounceInUp"  />
                        <div class="chartArea"><div class="hider"></div><div id="chartdiv"></div></div>*@
                    <img src="~/assests/images/NLogin/left-top-image.png" class="left-top-image" />
                </div>
                <div class="formArea">
                    <form action="" method="post" runat="server" novalidate="novalidate">
                        <input id="rurl" name="rurl" runat="server" type="hidden" value="" />
                        <div><img src="/assests/images/NLogin/logo.png" class="mlogos" /></div>
                        <div class="login-part">
                            <div style="margin: 5px 0 10px 0; font-size: 22px; color: #3737bb; font-weight: 600; font-family: 'Open Sans', sans-serif; text-align: center; ">Login to your Account</div>
                            @*<p style="font-family: poppins;">A single dashboard to manage all your team members with real time updates and notifications.</p>*@
                            <div class="formBox">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    @*<img src="/assests/images/NLogin/user.png" class="inputIcons" />*@
                                    <img src="/assests/images/NLogin/user-2.png" class="inputIcons" />
                                    <asp:TextBox ID="txtUserName" CssClass="form-control " runat="server" placeholder=" User Name" TabIndex="1"></asp:TextBox>
                                    @Html.TextBoxFor(m => m.username, new { @class = "form-control " })

                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    @*<img src="/assests/images/NLogin/password.png" class="inputIcons" />*@
                                    <img src="/assests/images/NLogin/password-2.png" class="inputIcons" />
                                    @Html.TextBoxFor(m => m.password, new { @class = "form-control " })
                                </div>
                                <div style="font-size: 12px; font-family: 'Open Sans', sans-serif; color: #4a4a4a; text-align: center; ">Application best viewed at <a href="#">1280 x 720</a> resolution in <a href="#">Google Chrome</a> 59 or above</div>
                                <input type="submit" value="Sign in" class="btn btn-block loginbtn" />

                                <div class="ftFooter">
                                    © Copyright 2023 Indus Net Technologies.<br />
                                    [BreezeERP Version <span id="lblVersion">2.0.29]</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="fts">
            <div class="container">
                <h2 class="">
                    Automate Processes. Manage Teams. <br>Acquire Leads. Close Sales.
                    <span>All-in-One Platform</span>
                </h2>
                <div class="row">
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-4 wow slideInLeft" data-wow-duration="2s" data-wow-delay="5s">
                        <img src="~/assests/images/NLogin/007-destination.png" />
                        <div class="hdn">Geo-Tracking & Route  <br /> Optimization</div>
                        <div>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è cons.Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa</div>
                    </div>
                    <div class="col-md-4 wow slideInLeft" data-wow-duration="2s" data-wow-delay="7s">
                        <img src="~/assests/images/NLogin/004-user-interface.png" />
                        <div class="hdn">IMEI/OTP based  <br /> authentication</div>
                        <div>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è cons.Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa</div>
                    </div>
                    <div class="col-md-4 wow slideInLeft" data-wow-duration="2s" data-wow-delay="9s">
                        <img src="~/assests/images/NLogin/001-dashboard.png" />
                        <div class="hdn">Intuitive Dashboard & <br /> Auto-Reporting</div>
                        <div>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è cons.Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container text-center" style="padding:80px 0">
                <h3 style="font-family: 'opcen', Montserrat, sans-serif !important;font-size:26px">Log in to Start Your Digital Journey with Breeze .</h3>
                <div style="height:30px"></div>
                <a href="#" class="cta" id="toLogin">
                    <span>Login Now</span>
                    <svg width="13px" height="10px" viewBox="0 0 13 10">
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg>
                </a>
                <div></div>
                <div class="socialArea">
                    <div class="effect egeon">
                        <div class="buttons">
                            <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div class="hide">
            <div class="backColor"></div>
            <div class="bgImage">
                <img src="/assests/images/Login.jpg">
            </div>
            <div class="container boxWraper">
                <div class="centerd-box">
                    <div class="logo-wrap">
                        <img src="/assests/images/logo.png" width="230" height="70" />
                    </div>
                    <div>


                    </div>
                    <div class="loginArea">

                    </div>
                </div>
            </div>
            <footer class="fixedfooter">
                <div class="container">
                    <p class="copyright">
                        © Copyright 2017 Indusnet Technologies Version <asp:Label ID="lblVersion" runat="server" Text="1.0.4" />
                    </p>
                </div>
            </footer>

            <script type="text/javascript" src="/assests/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/assests/js/main.js"></script>

        </div>

    }
</body>
</html>


