/*====================================================== Revision History ===========================================================*/
/*Rev Number     DATE             VERSION       DEVELOPER         CHANGES*/ 
/*1.0            06-01-2023       2.0.37        Pallab            grid width issue fix*/
/*2.0            06-01-2023       2.0.37        Pallab            Dashboard grid title hyperlink sign issue fix*/
/*====================================================== Revision History ===========================================================*/

/* set the size of the datepicker search control for Order Date*/
#ui-datepicker-div {
    font-size: 11px;
}

    /* set the size of the autocomplete search control*/
    .ui-menu-item {
    }

    .ui-autocomplete {
        font-size: 11px;
    }
    /*Add to check*/
    .mr0 {
        margin-right: 0 !important;
    }

    .widgetBox {
        position: relative;
        margin-top: 20px;
    }

    .numCnt {
        padding: 15px 25px;
    }

    .widgetBox .numCnt .number {
        font-size: 26px;
        font-weight: 700;
        color: #fff;
    }

    .widgetBox .numCnt .text {
        font-size: 15px;
        color: #fff;
    }

    .widgetBox h4 {
        padding: 10px 25px;
        background: #398b9e;
        color: #fff;
    }

    .widgetBox.one {
        background: #4bacc3;
    }

    .widgetBox.two {
        background: #4bc3ae;
    }

    .widgetBox.three {
        background: #b6c72f;
    }

    .widgetBox.four {
        background: #e47b5b;
    }

    .widgetBox.two h4 {
        background: #36a995;
    }

    .widgetBox.three h4 {
        background: #9ead26;
    }

    .widgetBox.four h4 {
        background: #ce6646;
    }

    .widgetBox .fa {
        position: absolute;
        font-size: 43px;
        color: rgba(53, 50, 50, 0.5);
        top: 18px;
        right: 18px;
    }

    .boxForChart {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;
        background: #fff;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.06);
        margin-top: 5px;
        padding: 8px 0;
    }

    .SelectChart {
        width: 200px !important;
        max-width: 200px;
        margin: 8px 0;
    }

    .cngView {
        margin-right: 15px;
        padding-top: 7px;
    }

    .refine-btn {
        position: absolute;
        right: 50px;
        top: 15px;
    }
    .dateT {
        margin-top: 8px;
    }

        .dateT > tbody > tr > td:first-child {
            font-size: 16px;
            padding-right: 15px;
        }

    .ltri {
        display: inline-block;
        background: #64c7ab;
        padding: 3px 8px;
        border-radius: 4px;
        position: relative;
        color: #fff;
    }

        .ltri:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
            border-left: 12px solid #64c7ab;
            position: absolute;
            right: -7px;
        }

    #lblDate {
        font-size: 17px;
    }

    .rightSide {
        background: rgb(239, 244, 247) !important;
        margin-left: 168px;
    }

    .ClasicStyle {
        width: 100%;
    }

        .ClasicStyle > thead > tr > th {
            background: #f3f3f3;
            font-weight: 500;
        }

        .ClasicStyle > thead > tr > th, .ClasicStyle > tbody > tr > td {
            border: 1px solid #ccc;
            font-size: 14px;
            padding: 3px 5px;
        }


    .mTop15 {
        margin-top: 15px;
    }

    #mixedChart {
        width: 100%;
        height: 150px;
    }

    .d-flex {
        display: -ms-flexbox !important;
        display: flex !important;
        font-family: 'Open Sans', sans-serif;
    }

    #map {
        margin-bottom: 20px;
    }

    .d-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }

    .flex-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .flex-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .flex-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .flex-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .flex-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .flex-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
    }

    .flex-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    }

    .flex-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }

    .mr20 {
        margin-right: 20px;
    }

    .flex-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    }

    .flex-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
    }

    .justify-content-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    .justify-content-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .justify-content-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .justify-content-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .align-items-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    .align-items-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    .align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .align-items-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important;
    }

    .align-items-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .align-content-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    }

    .align-content-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
    }

    .align-content-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important;
    }

    .align-content-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
    }

    .align-content-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
    }

    .align-content-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
    }

    .align-self-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important;
    }

    .align-self-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .align-self-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    }

    .align-self-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
    }

    a.infoButton {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        color: #2245c7;
        font-family: 'Montserrat', sans-serif !important;
    }

    .boxWidget {
        padding: 12px;
        border-radius: 1px;
        margin-bottom: 8px;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .boxWidget:before {
            top: 44px;
            content: '';
            width: 60%;
            height: 100%;
            background: rgba(255, 255, 255, 0.05);
            position: absolute;
            /* z-index: -1; */
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            left: -25px;
            border-radius: 10px;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .boxWidget:hover {
            opacity: 0.9;
            /*box-shadow: 0px 0px 38px rgba(187, 187, 187, 0.4);*/
            /*transform: scale(1.06);*/
        }

            .boxWidget:hover::before {
                -webkit-transform: rotate(58deg) scale(1.2);
                transform: rotate(58deg) scale(1.2);
            }

    .flex1 {
        flex: 1;
    }

    .flex2 {
        flex: 2;
    }

    .flex3 {
        flex: 3;
    }

    .flex4 {
        flex: 4;
    }

    .flex50 {
        flex-basis: 49%;
    }

    .flex70 {
        flex-basis: 69.5%;
    }

    .flex30 {
        flex-basis: 29.5%;
    }

    .flex60 {
        flex-basis: 59.5%;
    }

    .flex40 {
        flex-basis: 39.5%;
    }

    .flex-full {
        height: 100%;
        width: 100%;
    }

    .heightFull {
        height: 100%;
    }

    .Widgheading {
        font-size: 16px;
        margin-bottom: 10px !important;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif !important;
        letter-spacing: -1px;
    }

    .mainLabel {
        font-size: 14px;
        /*letter-spacing: -1px;*/
        font-weight: 500;
        font-family: 'Montserrat', sans-serif !important;
    }

    .subLabel {
        font-size: 9px;
        font-family: 'Montserrat', sans-serif;
    }

    .wdgContent {
        padding: 0px 0 0 0;
    }

    .WdgLetter {
        font-size: 36px;
        color: inherit;
        font-family: 'Open Sans Condensed', sans-serif !important;
        font-weight: bold;
    }

    .showD {
        font-size: 9px;
        display: block;
        text-align: right;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .pad30 {
        padding-top: 50px;
    }

    #panelRight {
        width: 300px;
        position: fixed;
        border-left: 4px solid #398b9e;
        right: -295px;
        height: calc(100vh - 60px);
        top: 60px;
        background: #fff;
        z-index: 99;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        #panelRight.open {
            right: 0px;
        }

    .panelAnchor {
        position: absolute;
        left: -50px;
        background: #398b9e;
        color: #fff;
        height: 50px;
        top: 60px;
        width: 50px;
        font-size: 22px;
        text-align: center;
        /* line-height: 30px; */
        display: inline-block;
        padding-top: 10px;
    }

        .panelAnchor:hover {
            background: #2fa0ec;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.04);
            cursor: pointer;
        }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.5);
    }
    /*rev 2.0*/
  /*  #accordion .Widgheading {
        cursor: pointer;
    }*/
/*rev 2.0*/

    .Widgheading > a, .Widgheading > a:focus, .Widgheading > a:active {
        color: #777;
        text-decoration: none;
        font-size: 18px;
    }

    .mr8 {
        margin-right: 8px;
    }

    #pie1, #pie2, #pie3 {
        margin-top: 25px;
    }

    .pl-0 {
        padding-left: 0;
    }

#cmbBranch + .btn-group > button,
#cmbStateFV + .btn-group > button,
#cmbBranchFV + .btn-group > button,
#cmbState + .btn-group > button,
#cmbStateTV + .btn-group > button,
#cmbBranchTV + .btn-group > button,
#cmbStateTVH + .btn-group > button,
#cmbBranchTVH + .btn-group > button,
#cmbStateOrder + .btn-group > button,
#cmbBranchOrder + .btn-group > button {
    border-radius: 50px;
    overflow: hidden;
    border: none;
    padding: 11px 15px;
    box-shadow: 1px 1px 10px #053164ab;
}


    /*dashboard grid*/
    /*#griddashboard .dxgvHeader_PlasticBlue, #griddashboard .dxgvHeader_PlasticBlue table {
        color: #333 !important;
    }*/
    #griddashboard .dxgvHeader_PlasticBlue {
        cursor: pointer;
        white-space: nowrap;
        padding: 7px 6px;
        border-top: none;
        border: none;
        background: #333;
        overflow: hidden;
        font-weight: normal;
        text-align: left;
        font-family: 'Montserrat', sans-serif !important;
    }

    #griddashboarddetails_DXMainTable #griddashboarddetails_DXHeadersRow0 > td {
        background: #333 !important;
        color: #fff;
    }
    /*#griddashboard_DXFooterRow {
        display: none;
    }*/
#griddashboard.dxgvControl_PlasticBlue, #griddashboard.dxgvDisabled_PlasticBlue {
    border-top: none !important;
    border: none !important;
    font: 12px 'Montserrat', sans-serif !important;
    background-color: none !important;
    color: #000000;
    cursor: default;
    font-family: 'Poppins', sans-serif !important;
}

    #griddashboard .dxgvTable_PlasticBlue {
        background-color: none !important;
        border-width: 0;
        border-collapse: separate !important;
        overflow: hidden;
    }

    #griddashboard .dxgvFilterRow_PlasticBlue td.dxgv, #griddashboard .dxgvPagerBottomPanel_PlasticBlue {
        padding: 6px 4px;
    }

    #griddashboard .dxgvEditFormDisplayRow_PlasticBlue td.dxgv,
    #griddashboard .dxgvDataRow_PlasticBlue td.dxgv,
    #griddashboard .dxgvDataRowAlt_PlasticBlue td.dxgv,
    #griddashboard .dxgvSelectedRow_PlasticBlue td.dxgv,
    #griddashboard .dxgvFocusedRow_PlasticBlue td.dxgv {
        padding: 6px 6px 7px;
    }

    #griddashboard .dxtc-link, .dxgvHeader_PlasticBlue td {
        font-size: 12px !important;
        font-weight: 500;
    }

    .closerCss, .closeAc, .closeAcDetails, .closer, .closeAcDetails2 , .closeacdetails2FV {
        position: absolute;
        right: 2px;
        top: 0px;
    }

    #griddashboard > tbody > tr > td > table {
        table-layout: auto !important;
    }

    .col1 {
        background: #7a9eef;
        background-image: -webkit-linear-gradient(45deg,#7a9eef,#33b3a1);
        background-image: linear-gradient(45deg,#7a9eef,#33b3a1);
        background-repeat: repeat-x;
    }

    .col2 {
        background: #F79187;
        background-image: -webkit-linear-gradient(45deg,#9b3cb7,#ff396f);
        background-image: linear-gradient(45deg,#9b3cb7,#ff396f);
        background-repeat: repeat-x;
    }

    .col3 {
        background: #7D7D7D;
        background-image: -webkit-linear-gradient(45deg,#9b3cb7,#ff396f);
        background-image: linear-gradient(45deg,#454046,#9220e8);
        background-repeat: repeat-x;
    }

    .col4 {
        background: #23C398;
        background-image: -webkit-linear-gradient(45deg,#23C398,#d0c034);
        background-image: linear-gradient(45deg,#23C398,#d0c034);
        background-repeat: repeat-x;
    }

    .col5 {
        background: #c0ca8b;
        color: #fff;
    }

    .col6 {
        background: #7d845d;
        color: #fff;
    }

    .col7 {
        background: #aed08e;
        color: #fff;
    }

    .colorType3L {
        background: #6986a5;
        color: #fff;
    }

    .colorType3D {
        background: #415B76;
        color: #fff;
    }

    .colorType4L {
        background: #B376BD;
        color: #fff;
    }

    .colorType4D {
        background: #8D5596;
        color: #fff;
    }

    .text-white {
        color: #fff;
    }

    .noShaded:before {
        display: none;
    }

    #griddashboard_DXMainTable #griddashboard_DXHeadersRow0 {
        background: #333;
    }

    .acCont {
        padding: 4px 5px 0 5px;
        border-bottom: 1px solid #efefef;
        margin-top: 4px;
    }

        .acCont:first-child {
            margin-top: 5px;
        }

    .Actholder .text {
        margin-left: 45px;
    }

        .Actholder .text > div {
            font-size: 12px;
            font-weight: 600;
        }

        .Actholder .text > p {
            font-size: 11px;
        }

    .avatar {
        width: 3rem;
        height: 3rem;
        line-height: 2rem;
        display: inline-block;
        background: #505050 no-repeat center/cover;
        position: relative;
        text-align: center;
        color: #fff;
        font-weight: 400;
        vertical-align: bottom;
        font-size: .875rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 50% !important;
        float: left;
    }

    .mapContainer {
        border: 4px solid #FFF;
        box-shadow: 0px 0px 10px rgba(70, 68, 68, 0.3);
    }

    .cred {
        color: red;
    }

    .cgreen {
        color: #33CC66;
    }

    .greenTrack {
        color: #034C31;
    }

    .blink_me {
        animation: blinker 1s linear infinite;
    }

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 25px;
    }

        .lds-ellipsis div {
            position: absolute;
            top: 11px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #97e292;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }

            .lds-ellipsis div:nth-child(1) {
                left: 6px;
                animation: lds-ellipsis1 0.6s infinite;
            }

            .lds-ellipsis div:nth-child(2) {
                left: 6px;
                animation: lds-ellipsis2 0.6s infinite;
            }

            .lds-ellipsis div:nth-child(3) {
                left: 26px;
                animation: lds-ellipsis2 0.6s infinite;
            }

            .lds-ellipsis div:nth-child(4) {
                left: 45px;
                animation: lds-ellipsis3 0.6s infinite;
            }

    .text-bold {
        font-weight: bold;
    }

    .min115 {
        min-height: 115px;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .mtop20 {
        margin-top: 20px;
    }

    .dxgvFooter_PlasticBlue {
        display: none;
    }

    #directions_panel {
        background-color: #FFFFFF;
        max-height: 394px;
        overflow-y: auto;
        padding: 15px;
    }

    .pdleft0 {
        padding-left: 0;
    }

    .pdright0 {
        padding-right: 0;
    }

    .dxgvHeader_PlasticBlue {
        border: none !important;
    }

    .f6 {
        font-weight: 600;
    }

    .btn-prime {
        float: right;
        margin-right: 20px;
        margin-top: -4px;
        background: #6ac270;
        color: #fff;
        font-size: 14px;
        padding: 4px 10px;
        display: none;
    }

        .btn-prime:hover {
            background: #5db362;
        }

    .clstyle {
        background: #f73e2c;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        line-height: 24px;
        top: -5px;
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        cursor: pointer;
        font-size: 15px;
    }

        .clstyle:hover {
            background: #e63827;
            transform: scale(1.1);
        }

    .maxisize {
        max-width: 380px;
    }

    #directionname {
        font-size: 14px;
        background: #fff;
        padding: 8px 15px 0 15px;
        margin: 0 !important;
    }

    .mapShowlist {
        float: right;
        font-size: 14px;
    }

    .separate-left {
        border-left: 1px solid #ccc;
    }

    #gridsummarydashboard, #griddashboard {
        width: 100% !important;
    }

.multiselect-container.dropdown-menu {
    right: 0 !important;
    left: auto;
    min-width: 340px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px rgb(3 35 74 / 30%);
    border: none;
}

    .multiselect-container > li > a {
        padding: 5px 0;
        text-align: left;
    }

        .multiselect-container > li > a input[type="checkbox"] {
            transform: translateY(3px);
        }

    .multiselect-container > li.active > a {
        background: transparent !important;
        color: #333;
        text-align: left;
    }

        .multiselect-container > li > a:hover, .multiselect-container > li.active > a:hover {
            background: #f3f3f3 !important;
            color: #333 !important;
            padding: 5px 0;
        }

    .multiselect-item.multiselect-filter {
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

        .multiselect-item.multiselect-filter .form-control.multiselect-search {
            height: 31px;
        }

        .multiselect-item.multiselect-filter .input-group-addon {
            background: #41a8f1;
            color: #fff;
            border-color: #41a8f1;
        }

.input-group-btn .multiselect-clear-filter {
    background: #f98181;
    color: #fffefe;
    /* box-shadow: none; */
    text-shadow: none;
    border-color: #f96a6a;
    padding: 6px 10px 5px 10px;
}

    .multiselect.dropdown-toggle {
        background: #fff;
        border-radius: 0;
    }

    .transNotLogged {
        -webkit-transform: translate(2px, -1px);
        -moz-transform: translate(2px, -1px);
        transform: translate(2px, -1px);
    }

    /*i con tab*/
    .iconicTabs {
        padding-bottom: 13px;
        border-bottom: 1px dashed #ccc;
        padding-top: 11px;
        margin-bottom: 0;
        padding-left: 0;
    }

        .iconicTabs li {
            display: inline-block;
            list-style-type: none;
            position: relative;
        }

            .iconicTabs li > .tabitems {
                text-align: center;
                vertical-align: middle;
                margin-right: 15px;
                background: #e3e7e8;
                border: 1px solid #ccc;
                padding: 0 10px 5px 10px;
                border-radius: 5px;
                padding: 10px 25px;
                color: #8a8a8a;
            }

            .iconicTabs li.active > .tabitems {
                background: #272b3c;
                color: #fff;
                border-color: #272b3c;
            }

    .iconicTabsWrap > .tab-content {
        background: #fff;
        padding: 25px 20px;
    }

    .iconicTabs > .tabitems .tabText {
        font-weight: 500;
        font-family: 'Montserrat', sans-serif !important;
    }

    .iconicTabs li.active > a:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #272b3c;
        position: absolute;
        bottom: -19px;
        left: 50%;
        transform: translateX(-70%);
    }

    .iconicTabs li > a:focus {
        text-decoration: none;
    }




    /*svg tabs */
    /*****************************/
    /* Shape */
    /*****************************/

    .tabs {
        position: relative;
        margin: 0 auto;
        width: 100%;
        font-weight: 300;
        font-size: 1.25em;
    }

        /* Nav */
        .tabs nav {
            text-align: center;
            /*overflow-x: hidden;*/
        }

            .tabs nav ul {
                position: relative;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: flex;
                margin: 0 auto;
                padding: 0;
                /*max-width: 1200px;*/
                list-style: none;
                -ms-box-orient: horizontal;
                -ms-box-pack: center;
                -webkit-flex-flow: row wrap;
                -moz-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                /*-webkit-justify-content: center;
                -moz-justify-content: center;
                -ms-justify-content: center;
                justify-content: center;*/
            }

                .tabs nav ul li {
                    position: relative;
                    z-index: 1;
                    display: block;
                    margin: 0;
                    text-align: center;
                    /*-webkit-flex: 1;
                    -moz-flex: 1;
                    -ms-flex: 1;
                    flex: 1;*/
                }

            .tabs nav a {
                position: relative;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 2.2;
            }

                .tabs nav a span {
                    vertical-align: middle;
                    font-size: 0.75em;
                }

            .tabs nav li.active a {
                color: #313233;
            }

            .tabs nav a:focus {
                outline: none;
            }

    /* Icons */
    .icon::before {
        z-index: 10;
        display: inline-block;
        margin: 0 0.4em 0 0;
        vertical-align: middle;
        text-transform: none;
        font-weight: normal;
        font-variant: normal;
        font-size: 1.3em;
        font-family: 'stroke7pixeden';
        line-height: 1;
        speak: none;
        -webkit-backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-upload::before {
        content: "\e68a";
    }

    .icon-tools::before {
        content: "\e60a";
    }

    .icon-plane::before {
        content: "\e625";
    }

    .icon-joy::before {
        content: "\e6a4";
    }

    .icon-plug::before {
        content: "\e69a";
    }

    .icon-home::before {
        content: "\e648";
    }

    .icon-gift::before {
        content: "\e652";
    }

    .icon-display::before {
        content: "\e65e";
    }

    .icon-date::before {
        content: "\e660";
    }

    .icon-config::before {
        content: "\e666";
    }

    .icon-coffee::before {
        content: "\e669";
    }

    .icon-camera::before {
        content: "\e66f";
    }

    .icon-box::before {
        content: "\e674";
    }

    /* Content */
    .content-wrap {
        position: relative;
    }

        .content-wrap section {
            display: none;
            margin: 0 auto;
            padding: 1em;
            max-width: 1200px;
            text-align: center;
        }

            .content-wrap section.content-current {
                display: block;
            }

            .content-wrap section p {
                margin: 0;
                padding: 0.75em 0;
                color: rgba(40,44,42,0.05);
                font-weight: 900;
                font-size: 4em;
                line-height: 1;
            }

    /* Fallback */
    .no-js .content-wrap section {
        display: block;
        padding-bottom: 2em;
        border-bottom: 1px solid rgba(255,255,255,0.6);
    }

    .no-flexbox nav ul {
        display: block;
    }

        .no-flexbox nav ul li {
            min-width: 15%;
            display: inline-block;
        }

    .tabs-style-shape nav ul li {
        margin: 0 2.8em;
    }

        .tabs-style-shape nav ul li:first-child {
            margin-left: 0;
        }

        .tabs-style-shape nav ul li.active {
            z-index: 9;
        }

    .tabs-style-shape nav li a {
        overflow: visible;
        margin: 0 -3em 0 0;
        padding: 0;
        color: #fff;
        font-weight: 500;
    }

    .tabs-style-shape nav li:first-child a span {
        padding-left: 2em;
        border-radius: 30px 0 0 0;
    }

    .tabs-style-shape nav li:last-child a span {
        padding-right: 2em;
        border-radius: 0 30px 0 0;
    }

.tabs-style-shape nav li a svg {
    position: absolute;
    left: 100%;
    margin: 0;
    width: 2.7em;
    height: 100%;
    /*fill: #919294;*/
    fill: #4c80b9;
}

        .tabs-style-shape nav li a svg:nth-child(2),
        .tabs-style-shape nav li:last-child a svg {
            right: 100%;
            left: auto;
            -webkit-transform: scale3d(-1,1,1);
            transform: scale3d(-1,1,1);
            margin-right: -1px;
        }

    .tabs-style-shape nav li a span {
        display: block;
        overflow: hidden;
        padding: 0.32em 0;
        /*background-color: #919294;*/
        background-color: #4c80b9;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*Rev Pallab*/
        /*font-size: 16px;*/
        font-size: 15px;
        /*Rev End Pallab*/
    }

@media only screen and (max-width: 1505px) and (min-width: 1455px) {

    .tabs-style-shape nav li a span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1454px) and (min-width: 1380px) {

    .tabs-style-shape nav li a span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1379px) and (min-width: 1300px) {

    .tabs-style-shape nav li a span {
        font-size: 12px;
    }
    .newStyleMN .widgBox .txt
    {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1299px) and (min-width: 1240px) {

    .tabs-style-shape nav li a span {
        font-size: 11px;
    }
}

.tabs-style-shape nav li a:hover span {
    background-color: #241cad;
}

.tabs-style-shape nav li a:hover svg {
    fill: #241cad;
}

    .tabs-style-shape nav li a:active, .tabs-style-shape nav li a:focus, .tabs-style-shape nav li a:hover {
        text-decoration: none;
    }
    /* Make only shape clickable */
    .tabs-style-shape nav li a svg {
        pointer-events: none;
    }

        .tabs-style-shape nav li a svg use {
            pointer-events: auto;
        }

    .tabs-style-shape nav li.active a span,
    .tabs-style-shape nav li.active a svg {
        -webkit-transition: none;
        transition: none;
    }

    .tabs-style-shape nav li.active a span {
        background: #fff;
    }

    .tabs-style-shape nav li.active a svg {
        fill: #fff;
    }

    .tabs-style-shape .content-wrap {
        background: #fff;
    }

.tabs-style-shape .tab-content {
    background: #fff;
    padding: 20px;
    border-radius: 0 15px 20px 20px;
    box-shadow: 1px 1px 15px #053164;
}

    .only-bordered {
        border: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 0;
    }

        .only-bordered > tbody > tr > td {
            border-top: none;
            padding: 2px 8px;
            font-size: 14px;
        }

    #epTable .progress {
        margin: 3px 0;
        height: 10px;
    }

    .ptb0 {
        padding-top: 0 !important;
    }


    .cl3rd1 {
        background: #7bb1a2;
        background-image: -webkit-linear-gradient(45deg,#2379c3,#d07534);
        background-image: linear-gradient(45deg,#2379c3,#d07534);
        background-repeat: repeat-x;
    }

    .cl3rd2 {
        background: #d0a13f;
        background-image: -webkit-linear-gradient(45deg,#cdce80,#d09934);
        background-image: linear-gradient(45deg,#cdce80,#d09934);
        background-repeat: repeat-x;
    }

    .cl3rd3 {
        background: #967dd1;
        background-image: -webkit-linear-gradient(45deg,#c580ce,#3464d0);
        background-image: linear-gradient(45deg,#c580ce,#3464d0);
        background-repeat: repeat-x;
    }

    .cl3rd4 {
        background: #82b7a9;
        background-image: -webkit-linear-gradient(45deg,#7fc18a,#3464d0);
        background-image: linear-gradient(45deg,#7fc18a,#3464d0);
        background-repeat: repeat-x;
    }

    .cl2rd1 {
        background: #8238a3;
        background-image: -webkit-linear-gradient(45deg,#c3237c,#62219e);
        background-image: linear-gradient(45deg,#c3237c,#62219e);
        background-repeat: repeat-x;
    }

    .cl2rd2 {
        background: #5f7de5;
        background-image: -webkit-linear-gradient(45deg,#164bc3,#8d9dfb);
        background-image: linear-gradient(45deg,#164bc3,#8d9dfb);
        background-repeat: repeat-x;
    }

    .cl2rd3 {
        background: #3cb2aa;
        background-image: -webkit-linear-gradient(45deg,#50d0ca,#2b988f);
        background-image: linear-gradient(45deg,#50d0ca,#2b988f);
        background-repeat: repeat-x;
    }

    .cl2rd4 {
        background: #a97fc3;
        background-image: -webkit-linear-gradient(45deg,#816cc1,#ff98be);
        background-image: linear-gradient(45deg,#816cc1,#ff98be);
        background-repeat: repeat-x;
    }


    .cl2rd5 {
        background: #8238a3;
        background-image: -webkit-linear-gradient(45deg,#c3237c,#62219e);
        background-image: linear-gradient(45deg,#e8f906d9,#ff5bae);
        background-repeat: repeat-x;
    }

    .cl2rd6 {
        background: #7bb1a2;
        background-image: -webkit-linear-gradient(45deg,#52d7ff,#34d0b3);
        background-image: linear-gradient(45deg,#52d7ff,#34d0b3);
        background-repeat: repeat-x;
    }

    .cl2rd7 {
        background: #82b7a9;
        background-image: -webkit-linear-gradient(45deg,#7fc18a,#aba1a1);
        background-image: linear-gradient(45deg,#7fc18a,#aba1a1);
        background-repeat: repeat-x;
    }

    .resposive-image {
        max-width: 100%;
    }

    .leadH {
        font-size: 18px;
        color: #7d7d7d;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 9px;
        margin-top: 1.25rem;
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

    .leaderboardHeader {
        padding: .9375rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.02);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .card-content {
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .full {
        width: 100%;
    }

    .mw90 {
        height: auto;
        width: 35px;
    }

    .leaderTbl > thead > tr > th {
        font-size: 13px;
        padding: 1.75rem 1.25rem;
        vertical-align: top;
        background: rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid #afabab;
    }

    .leaderTbl > tbody > tr > td {
        padding: .75rem 1.25rem;
        vertical-align: middle;
        border-top: 1px solid #ddd;
        font-size: 13px;
    }

    .nme {
        font-weight: 500;
        color: #635e5e;
    }

    /*::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #FFFFFF;
        border: 1px solid #F9F9F9;
    }*/

    table.dataTable {
        margin-top: 0 !important;
    }



    .os-tabs-controls .nav-pills {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .os-tabs-controls .nav-tabs {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .os-tabs-controls.os-tabs-complex .nav-tabs {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .os-tabs-controls.os-tabs-complex .nav-item {
        white-space: nowrap;
        margin-right: 0px;
    }

        .os-tabs-controls.os-tabs-complex .nav-item.nav-actions {
            margin-left: auto;
        }

        .os-tabs-controls.os-tabs-complex .nav-item .btn, .os-tabs-controls.os-tabs-complex .nav-item .all-wrapper .fc-button, .all-wrapper .os-tabs-controls.os-tabs-complex .nav-item .fc-button {
            margin-left: 10px;
        }

        .os-tabs-controls.os-tabs-complex .nav-item .nav-link {
            color: #3E4B5B;
            opacity: 0.6;
            border-right: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 0px;
            padding: 8px 20px;
            margin-right: 0px;
        }

            .os-tabs-controls.os-tabs-complex .nav-item .nav-link span {
                display: inline-block;
                vertical-align: middle;
                font-size: 0.9rem;
            }

                .os-tabs-controls.os-tabs-complex .nav-item .nav-link span.badge {
                    font-size: 0.72rem;
                    padding: 3px 5px;
                }

                    .os-tabs-controls.os-tabs-complex .nav-item .nav-link span.badge span {
                        font-size: 0.72rem;
                    }

            .os-tabs-controls.os-tabs-complex .nav-item .nav-link.active {
                opacity: 1;
            }

                .os-tabs-controls.os-tabs-complex .nav-item .nav-link.active .tab-label {
                    font-size: 1.26rem;
                    line-height: 1.25;
                }

            .os-tabs-controls.os-tabs-complex .nav-item .nav-link .tab-label {
                display: inline-block;
                margin-right: 10px;
                text-transform: none;
                letter-spacing: normal;
                font-size: 1.08rem;
                vertical-align: middle;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            .os-tabs-controls.os-tabs-complex .nav-item .nav-link .tab-value {
                display: inline-block;
                color: #047bf8;
                margin-right: 10px;
                text-transform: none;
                letter-spacing: normal;
                vertical-align: middle;
            }

            .os-tabs-controls.os-tabs-complex .nav-item .nav-link .badge {
                display: inline-block;
                vertical-align: middle;
                font-size: 0.72rem;
                letter-spacing: normal;
            }

                .os-tabs-controls.os-tabs-complex .nav-item .nav-link .badge i.os-icon {
                    color: #fff;
                    font-size: 12px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0px;
                    margin-right: 3px;
                }

                .os-tabs-controls.os-tabs-complex .nav-item .nav-link .badge span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0.72rem;
                }

    .nav-pills .nav-link {
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.4);
        font-size: 12px;
    }

    .nav.smaller.nav-pills .nav-link {
        padding: 0.2em 1.1em;
    }

    .nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
        color: #fff;
        cursor: default;
        background-color: #047bf8;
    }

    .os-tabs-controls .nav-pills .nav-link:hover {
        color: #fff;
    }

    .leaderTbl .label {
        font-size: 88%;
    }

    .leaderTbl > tbody > tr {
        cursor: pointer;
    }

        .leaderTbl > tbody > tr.selected {
            background: #e7ffe7;
        }

    .statsWrap; {
        position: relative;
    }

    .statsWrap .statsHd {
        display: inline-block;
        padding: 4px 10px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
    }

    .statsList {
        list-style-type: none;
        padding: 0;
        margin-left: 30px;
        margin-bottom: 0;
        padding: 15px 0;
    }

        .statsList.cc1 {
            border-left: 1px solid #75b738;
        }

        .statsList.cc2 {
            border-left: 1px solid #f3cc40;
        }

        .statsList > li {
            padding: 5px 5px 5px 20px;
            position: relative;
        }

            .statsList > li:before {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                background: #44d4d4;
                border: 4px solid #fff;
                top: 10px;
                left: -11px;
                z-index: 1;
            }

            .statsList > li:after {
                content: '';
                position: absolute;
                width: 300px;
                height: 1px;
                background: #ccc;
                top: 20px;
                z-index: 1;
            }

        .statsList .blockage {
            font-size: 13px;
            background: #f7f7f7;
            padding: 6px 10px;
            border: 1px solid #c1bdbd;
            border-radius: 14px;
            display: inline-block;
        }

    .blckNum {
        position: absolute;
        right: 20px;
        width: 35px;
        height: 35px;
        background: #bbdebb;
        text-align: center;
        /* color: #fff; */
        font-weight: 500;
        line-height: 34px;
        border-radius: 50%;
        z-index: 5;
        top: 2px;
    }

    .sl1, .statsList.cc1 > li:before {
        background: #75b738;
    }

    .sl2, .statsList.cc2 > li:before {
        background: #f3cc40;
    }

    .chartbox {
        border: 1px solid #c7c4c4;
        border-radius: 17px;
        margin-top: 10px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
    }

    .panel-heading {
        padding: 0 25px !important;
    }

    .breadCumb {
        margin-bottom: 0 !important;
    }

    .tabs.tabs-style-shape {
        padding-top: 65px;
    }

    .tabItemsLI li:first-child > a > svg:nth-child(2) {
        display: none !important;
    }

    li#tbsalesman + .tooltip {
        left: -50px !important;
    }

    #cmbStateTV + .btn-group > button, #cmbBranchTV + .btn-group > button {
        border-radius: 50px;
        overflow: hidden;
        border: none;
    }

.newStyleMN .widgBox .icon {
    top: 2px !important;
    left: 2px !important;
    border-radius: 12px 0 0 12px !important;
}

/*.newStyleMN .widgBox:hover .icon {
    top: 0px !important;
    left: 0px !important;
}*/
.newStyleMN .widgBox.zoom:hover .icon {
    top: 0px !important;
    left: 0px !important;
}

.newStyleMN .widgBox.active:hover .icon {
    top: 2px !important;
    left: 2px !important;
}

.newStyleMN .widgBox {
    padding-left: 60px !important;
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    border: 2px solid #fff;
}

    .newStyleMN .widgBox.c2 {
        /*background: #e8f5ff;*/
        background: rgb(13,7,69);
        /*background: linear-gradient(150deg, rgba(13,7,69,1) 0%, rgba(133,123,223,1) 100%);*/
        background: linear-gradient(150deg, rgb(124 110 8 / 90%) 0%, rgb(211 191 58) 100%);
    }

/*.widgBox.active.c2 */
.widgBox.active.zoom.c2 {
    /*background: linear-gradient(150deg, rgba(13,7,69,1) 0%, rgba(133,123,223,1) 100%) !important;*/
    background: #083b68 !important;
    box-shadow: 1px 1px 15px #2068b2c4;
}
    .widgBox.active.zoom.c2 .icon {
        /*background: linear-gradient(150deg, rgba(13,7,69,1) 0%, rgba(133,123,223,1) 100%) !important;*/
        background: #072442 !important;
        color: #fff !important;
        border-color: #fff !important;
    }

.newStyleMN .widgBox.c2 .icon {
    /*border: 1px solid #140e4f;*/
    /*box-shadow: 0px 0px 14px rgb(0 0 0 / 22%);*/
    box-shadow: none;
    /*color: #171052;*/
    color: #fff;
    /*background: #ffffff;*/
    background: rgb(255 255 255 / 80%);
}

.newStyleMN .widgBox.c3 {
    /*background: #e9ffe9;*/
    background: rgb(241,96,114);
    /*background: linear-gradient(150deg, rgb(219 68 87) 0%, rgb(255 169 180) 100%);*/
    background: linear-gradient(150deg, rgb(5 129 94 / 90%) 0%, rgb(45 223 174 / 90%) 100%);
}
/*.widgBox.active.c3*/
.widgBox.active.zoom.c3 
{
    /*background: linear-gradient(150deg, rgb(189 37 56) 0%, rgb(255 169 180) 100%) !important;*/
    /*background: linear-gradient(150deg, rgb(6 157 115) 0%, rgb(45 211 165) 100%) !important;*/
    background: #083b68 !important;
    box-shadow: 1px 1px 15px #2068b2c4;
}

    .widgBox.active.zoom.c3 .icon {
        /*background: linear-gradient(150deg, rgb(6 157 115) 0%, rgb(45 211 165) 100%) !important;*/
        background: #072442 !important;
        color: #fff !important;
        border-color: #fff !important;
    }
.newStyleMN .widgBox.c3 .icon {
    /*border: 1px solid #069d73;*/
    /*box-shadow: 0px 0px 14px rgb(0 0 0 / 22%);*/
    box-shadow: none;
    /*color: #de4c5e;*/
    color: #fff;
    /*background: #ffffff;*/
    background: rgb(255 255 255 / 80%);
}

.newStyleMN .widgBox.c4 {
    /*background: #fff0e2;*/
    background: rgb(241,39,17);
    /*background: linear-gradient(150deg, rgb(13 153 195) 0%, rgb(154 224 245) 100%);*/
    background: linear-gradient(150deg, rgb(199 5 29 / 90%) 0%, rgb(251 95 114 / 90%) 100%);
}
.widgBox.active.c4 {
    /*background: linear-gradient(150deg, rgb(167 14 33) 0%, rgb(249 71 93) 100%) !important;*/
    background: #083b68 !important;
    box-shadow: 1px 1px 15px #2068b2c4;
}

    .widgBox.active.c4 .icon {
        /*background: linear-gradient(150deg, rgb(167 14 33) 0%, rgb(249 71 93) 100%) !important;*/
        background: #072442 !important;
        color: #fff !important;
        border-color: #fff !important;
    }
.newStyleMN .widgBox.c4 .icon {
    /*border: 1px solid #a70e21;*/
    /*box-shadow: 0px 0px 14px rgb(0 0 0 / 22%);*/
    box-shadow: none;
    /*color: #189fc7;*/
    color: #fff;
    /*background: #ffffff;*/
    background: rgb(255 255 255 / 80%);
}

.newStyleMN .widgBox.c5 {
    /*background: #ffe8f2;*/
    background: rgb(47,128,255);
    /*background: linear-gradient(150deg, rgb(30 107 227) 0%, rgb(155 190 245) 100%);*/
    /*background: linear-gradient(150deg, rgb(203 128 17) 0%, rgb(245 194 118) 100%);*/
    background: linear-gradient(150deg, rgb(46 100 6 / 90%) 0%, rgb(106 189 46) 100%);
}
.widgBox.active.zoom.c5 {
    /* background: linear-gradient(150deg, rgb(203 128 17) 0%, rgb(245 194 118) 100%) !important;*/
    /*background: linear-gradient(150deg, rgb(95 124 6) 0%, rgb(151 189 34) 100%) !important;*/
    background: #083b68 !important;
    box-shadow: 1px 1px 15px #2068b2c4;
}

    .widgBox.active.zoom.c5 .icon {
        /*background: linear-gradient(150deg, rgb(95 124 6) 0%, rgb(151 189 34) 100%) !important;*/
        background: #072442 !important;
        color: #fff !important;
        border-color: #fff !important;
    }
.newStyleMN .widgBox.c5 .icon {
    /*border: 1px solid #5f7c06;*/
    /*box-shadow: 0px 0px 14px rgb(0 0 0 / 22%);*/
    box-shadow: none;
    /*color: #d99632;*/
    color: #fff;
    /*background: #ffffff;*/
    background: rgb(255 255 255 / 80%);
}

.marg-b-50
{
    margin-bottom: 30px;
}
/*rev 1.0*/
.btn.details-btn {
    /*background-color: #71a8eb;*/
    background-color: #164f92;
    /*width: 55px;
    height: 55px;*/
    /*border-radius: 50% !important;*/
    border-radius: 8px !important;
    /* padding: 0; */
    text-align: center;
    /* display: block;*/
    color: #fff;
    -webkit-animation: pulse 1s;
    animation: pulse-afct 1s;
    box-shadow: 0 0 0 20px transparent;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse-afct {
    0% {
        box-shadow: 0 0 0 0 #164f929e;
    }
}

@keyframes pulse-afct {
    0% {
        box-shadow: 0 0 0 0 #164f929e;
    }
}
.pl-50
{
    padding-left: 40px !important;
}
.btn.details-btn:hover {
    background-color: #164f92;
    color: #fff !important;
}
.btn.details-btn:focus {
    color: #fff !important;
}

/*rev end 1.0*/

.dxeButtonEditButton_PlasticBlue {
    background: #094e8c !important;
}

#lblTotal img, #lblAtWork img, #lblOnLeave img, #lblNotLoggedIn img,
#lblTotalFV img, #lblAtWorkFV img, #lblOnLeaveFV img, #lblNotLoggedInFV img,
#EMPTV img, #EAWTV img, #EOLTV img, #NLITV img,
#EMPTVH img, #EAWTVH img, #EOLTVH img, #NLITVH img
{
    width: 40px !important;
}

/*.dxgvTable_PlasticBlue .dxgvHEC, .dxgvTable_PlasticBlue .dxgvHEC {
    display: none !important;
}*/


.box-holder {
    box-shadow: 1px 1px 10px #1111112e;
    border-radius: 8px !important;
    border: none !important;
    border-top: 5px solid rgb(23 80 149) !important;
    margin-top: 30px !important;
    position: relative;
}

#pieOne.chartHolder, #pieTwo.chartHolder, #LineOne.chartHolder, #columnHori.chartHolder, #pie1chart.chartHolder, #pie2chart.chartHolder {
    border: none !important;
}

.box-holder .hdd-rp {
    padding: 12px 15px !important;
}

.toggleFullScreen {
    top: 12px !important;
    right: 28px !important;
}

.chartHolder {
    border-radius: 8px !important;
}

.usrTabl > thead > tr > th {
    background: #2071d3 !important;
}

.box-holder.full-screen, .box-full.full-screen
{
    margin-top:0px !important;
}

.pignose-calendar .pignose-calendar-top {
    background-color: #0d4282 !important;
    color: #fff !important;
}

    .pignose-calendar .pignose-calendar-top .pignose-calendar-top-year, .pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
        color: #fff !important;
    }

.pignose-calendar .pignose-calendar-unit a {
    color: #7e7e7e !important;
    font-weight: 400 !important;
    background: #f2f2f2 !important;
    border-radius: 6px !important;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #501795 !important;
    border-radius: 6px !important;
    color: #fff !important;
}

.pignose-calendar .pignose-calendar-header {
    padding: 0 5px !important;
}


.show-data-msg #swal2-title {
    font-size: 16px !important;
    color: #164f92 !important;
    line-height: 25px !important;
}
