@Html.DevExpress().GridLookup(
    settings =>
    {
        settings.Properties.Caption = "";
        settings.Properties.CaptionCellStyle.CssClass = "hide";
        settings.Name = "CategoryGridLookup";
        settings.KeyFieldName = "CATEGORYID";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Properties.ClientInstanceName = "CategoryGridLookup";
        settings.GridViewClientSideEvents.SelectionChanged = "CategorySelectionChanged";
        settings.Properties.ClientSideEvents.ValueChanged = "CategorySelectionChanged";
        // settings.GridViewClientSideEvents.BeginCallback = "CategoryStartCallback";
        // settings.Properties.ClientSideEvents.ValueChanged = "CategoryLookupValChange";
        settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Percentage(15);
        settings.GridViewProperties.SettingsPager.EnableAdaptivity = true;
        settings.Properties.SelectionMode = GridLookupSelectionMode.Multiple;
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.None;
        settings.Columns.Add(column =>
        {
            column.FieldName = "CATEGORYNAME";
            column.Caption = "Category";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(85);
        });
        settings.Properties.Caption = " ";
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Multiple;
        settings.Properties.MultiTextSeparator = ", ";
        settings.Properties.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.GridViewProperties.CallbackRouteValues = new { Controller = "LMSQuestions", Action = "GetCategoryList" };
        settings.GridViewProperties.Settings.ShowFilterRow = true;
        settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
        settings.GridViewProperties.SetStatusBarTemplateContent(c =>
        {

            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnCategoryDeSelectAll";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "DeSelect All";
                btnSettings.ClientSideEvents.Click = "DeSelectAllGridLookup";

            }).Render();
            ViewContext.Writer.Write("</div>");
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(btnSettings =>
            {
                btnSettings.Name = "btnCategorySelectAll";
                btnSettings.UseSubmitBehavior = false;
                btnSettings.Text = "Select All";
                btnSettings.ClientSideEvents.Click = "SelectAllGridLookup";

            }).Render();
            ViewContext.Writer.Write("</div>");
        });

        settings.DataBound = (sender, e) =>
        {
            var gridLookup = (MVCxGridLookup)sender;
            gridLookup.GridView.Width = 310;
        };

        settings.PreRender = (s, e) =>
        {
            if (ViewBag.QUESTIONS_CATEGORYIDS != null)
            {
                foreach (var item in ViewBag.QUESTIONS_CATEGORYIDS)
                {
                    MVCxGridLookup l = s as MVCxGridLookup;
                    l.GridView.Selection.SelectRowByKey(item.CATEGORYID);
                }
            }
        };

    }).BindList(Model).GetHtml()


