@*====================================================== Revision History ==========================================================*@
@*Rev Number         DATE              VERSION          DEVELOPER           CHANGES*@

@*====================================================== Revision History ==========================================================*@

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridList";
    settings.KeyFieldName = "QUESTIONS_ID";
    settings.CallbackRouteValues = new { Action = "PartialGridList", Controller = "LMSQuestions" };
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;
    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
    settings.Settings.ShowFilterRowMenu = true;
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";
    settings.Columns.Add(x =>
    {
        x.FieldName = "QUESTIONS_NAME";
        x.Caption = "Question";
        x.VisibleIndex = 1;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(50);

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "QUESTIONS_DESCRIPTN";
        x.Caption = "Description";
        x.VisibleIndex = 2;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(50);

    });
    settings.Columns.Add(x =>
    {
        x.Caption = "Topics";
        x.VisibleIndex = 3;

        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenTopics('" + Convert.ToString(DataBinder.Eval(c.DataItem, "QUESTIONS_ID")) + "')\">"+Convert.ToString(DataBinder.Eval(c.DataItem, "CNTTOPIC"))+"</a>");
        });

    });
    settings.Columns.Add(x =>
    {
        x.Caption = "Categories";
        x.VisibleIndex = 3;

        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenCategories('" + Convert.ToString(DataBinder.Eval(c.DataItem, "QUESTIONS_ID")) + "')\">" + Convert.ToString(DataBinder.Eval(c.DataItem, "CNTCATEGORY")) + "</a>");
        });

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "CREATEUSER";
        x.Caption = "Created By";
        x.VisibleIndex = 4;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "CREATEDATE";
        x.Caption = "Created On";
        x.VisibleIndex = 5;
        x.Width = 120;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        x.ColumnType = MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "MODIFYUSER";
        x.Caption = "Updated By";
        x.VisibleIndex = 6;
        x.ColumnType = MVCxGridViewColumnType.TextBox;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "MODIFYDATE";
        x.Caption = "Updated On";
        x.VisibleIndex = 7;
        x.Width = 120;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(30);
        x.ColumnType = MVCxGridViewColumnType.DateEdit;
        x.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        (x.PropertiesEdit as DateEditProperties).EditFormatString = "dd-MM-yyyy";

    });


    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 8;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.HeaderStyle.VerticalAlign = System.Web.UI.WebControls.VerticalAlign.Middle;
        x.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(35);
        x.SetDataItemTemplateContent(c =>
        {
            if (ViewBag.CanView)
            {
                ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"ViewClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "QUESTIONS_ID")) + "')\"><img src='/assests/images/view-eye.svg' style='margin-right:3px' /><div class=\"tooltip\">View</div></a>");
            }
            if (ViewBag.CanEdit)
            {
                ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"EditClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "QUESTIONS_ID")) + "')\"><img src='/assests/images/Edit.png' style='margin-right:3px' /><div class=\"tooltip\">Edit</div></a>");
            }
            if (ViewBag.CanDelete)
            {
                ViewContext.Writer.Write("<a style='cursor:pointer' class='pad tooltip-container' onclick=\"DeleteClick('" + Convert.ToString(DataBinder.Eval(c.DataItem, "QUESTIONS_ID")) + "')\"><img src='/assests/images/Delete.png'/> <div class=\"tooltip\">Delete</div></a>");

            }
        });

    });

}).Bind(Model).GetHtml()








