

@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridgpsstatus";
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;

   // settings.KeyFieldName = "UserName";

    //settings.SetDataItemTemplateContent(cell =>
    //{
    //    ViewContext.Writer.Write("<span style=\"color:red\">" + cell.Text + "</span>");
    //});

    settings.CallbackRouteValues = new { Action = "GetGpsStatusList", Controller = "GPSStatus"};
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    
    //settings.Columns.Add("UserName");
    //settings.Columns.Add("total_shop_visited");
    //settings.Columns.Add("total_time_spent_at_shop");
    //settings.Columns.Add("gps");
    //settings.Columns.Add("Ratio");

    settings.Columns.Add(x =>
    {
        x.FieldName = "name";
        x.Caption = "Employee Name";
        x.VisibleIndex = 1;
        x.Width = System.Web.UI.WebControls.Unit.Pixel(150);


    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "total_shop_visited";
        x.Caption = "No. Of Shops Visited";
        x.VisibleIndex = 2;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);


    });



    settings.Columns.Add(x =>
    {
        x.FieldName = "active_hrs";
        x.Caption = "Working Duration(HH:MM)";
        x.VisibleIndex = 3;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(15);


    });

    //settings.Columns.Add(x =>
    //{
    //    x.FieldName = "inactive_hrs";
    //    x.Caption = "GPS Inactive Duration()";
    //    x.VisibleIndex = 4;
    //    x.Width = System.Web.UI.WebControls.Unit.Percentage(10);

    //});

    settings.Columns.Add(x =>
    {
        x.Caption = "Inactive Duration(HH:MM)";
        x.VisibleIndex = 4;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenGPSVisitList('" + Convert.ToString(DataBinder.Eval(c.DataItem, "user_id")) + "')\">" + Convert.ToString(DataBinder.Eval(c.DataItem, "inactive_hrs")) + "</a>");
        });

    });
    
    
    settings.Columns.Add(x =>
    {
        x.FieldName = "idle_percentage";
        x.Caption = "Inactive(%)";
      
        x.VisibleIndex = 5;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(10);
        x.PropertiesEdit.DisplayFormatString = "0.00";

    });

    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 6;
        x.Width = System.Web.UI.WebControls.Unit.Percentage(20);
        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"OpenSHopVisitList('" + Convert.ToString(DataBinder.Eval(c.DataItem, "user_id")) + "')\">View Details</a>");
        });
    
    
    });
    
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40","50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize =10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;


}).Bind(Model).GetHtml()


