@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gridorderregister";

    settings.CallbackRouteValues = new { Action = "GetRegisterreporttatusList", Controller = "OrderRegisterHeirarchyWise" };
    settings.ClientSideEvents.BeginCallback = "OnStartCallback";

    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
    settings.SettingsBehavior.ColumnResizeMode = ColumnResizeMode.Control;
    settings.SettingsContextMenu.FooterMenuItemVisibility.SummaryCount = true;
    settings.SettingsSearchPanel.Visible = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowGroupPanel = true;
    settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.True;

    settings.Settings.ShowFooter = true;
    settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.True;


    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "30", "40", "50" };
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSize = 10;
    settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.TopAndBottom;

    settings.Columns.Add(x =>
    {
        x.FieldName = "Employee_ID";
        x.Caption = "Employee ID";
        x.VisibleIndex = 1;
        x.Width = 0;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "EMPNAME";
        x.Caption = "Employee Name";
        x.VisibleIndex = 2;
        x.Width = 0;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "BRANCHDESC";
        x.Caption = "Branch";
        x.VisibleIndex = 3;
        x.Width = 0;
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "SHOPNAME";
        x.Caption = "Shop Name";
        x.VisibleIndex = 4;
        x.Width = 100;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ENTITYCODE";
        x.Caption = "Code";
        x.VisibleIndex = 5;
        x.Width = 0;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ADDRESS";
        x.Caption = "Address";
        x.VisibleIndex = 6;
        x.Width = 300;

    });
    settings.Columns.Add(x =>
    {
        x.FieldName = "CONTACT";
        x.Caption = "Contact";
        x.VisibleIndex = 7;
        x.Width = 100;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "SHOPTYPE";
        x.Caption = "Shop type";
        x.VisibleIndex = 8;
        x.Width = 100;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "PPName";
        x.Caption = "PP Name";
        x.VisibleIndex = 9;
        x.Width = 0;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "DDName";
        x.Caption = "DD Name";
        x.VisibleIndex = 10;
        x.Width = 0;
    });

    settings.Columns.Add(x =>
    {
        x.FieldName = "ORDDATE";
        x.Caption = "Order Date";
        x.VisibleIndex = 11;
        x.Width = 100;
    });


    settings.Columns.Add(x =>
    {
        x.FieldName = "ORDRNO";
        x.Caption = "Order Number";
        x.VisibleIndex = 12;
        x.Width = 200;

    });


    settings.Columns.Add(x =>
   {
       x.FieldName = "PRODUCT";
       x.Caption = "Product";
       x.VisibleIndex = 13;
       x.Width = 200;
   });

    settings.Columns.Add(x =>
    {
        x.FieldName = "QUANTITY";
        x.Caption = "Quantity";
        x.VisibleIndex = 14;
        x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
        x.Width = 100;
    });

    settings.Columns.Add(x =>
{
    x.FieldName = "RATE";
    x.Caption = "Rate";
    x.VisibleIndex = 15;
    x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
    x.Width = 100;
});


    settings.Columns.Add(x =>
{
    x.FieldName = "ORDVALUE";
    x.Caption = "Order Value";
    x.VisibleIndex = 16;
    x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
    x.Width = 100;
});

    settings.Columns.Add(x =>
{
    x.FieldName = "Stage";
    x.Caption = "Status";
    x.VisibleIndex = 17;
    x.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
    x.Width = 100;
});

    settings.Columns.Add(x =>
    {
        x.Caption = "Action";
        x.VisibleIndex = 18;
        x.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a style='cursor:pointer' onclick=\"UpdateStage('" + Convert.ToString(DataBinder.Eval(c.DataItem, "ORDRNO")) + "')\">Update Stage</a>");
        });



        x.Width = 100;
    });


    settings.HtmlRowPrepared = (sender, e) =>
    {
        if (e.RowType != GridViewRowType.Data) return;
        if (e.GetValue("Stage").ToString() == "Delivered")
            {
                //System.Windows.Media.Color color = (Color)ColorConverter.ConvertFromString("#333");
                System.Drawing.Color color = System.Drawing.ColorTranslator.FromHtml("#aaffc8");
                e.Row.BackColor = color;
            }
            else
            {
                System.Drawing.Color color = System.Drawing.ColorTranslator.FromHtml("#ffa4a4");
                e.Row.BackColor = color;
            }
        
    };

    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "QUANTITY").DisplayFormat = "0.00";
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "RATE").DisplayFormat = "0.00";
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "ORDVALUE").DisplayFormat = "0.00";


    settings.CustomJSProperties = (s, e) =>
    {
        ASPxGridView grid = (ASPxGridView)s;
        e.Properties["cpGridFilterExpression"] = grid.FilterExpression;
    };
}).Bind(Model).GetHtml()



